example-data/oxygen-frameworks/dita/DITA-OT/plugins/org.dita-ng.doctypes/rnc/base/rnc/mapGroup.mod.rnc

# ============================================================= 
# MODULE:    DITA Map Group Domain - RNC              
# VERSION:   1.2                                                
# DATE:      October 2010                                       
# =============================================================

# Refer to the latest version of this file by the following URI:
# urn:dita-ng:dita:rnc:mapGroup.mod.rnc
# To refer to this specific version, you may use this value:
# urn:dita-ng:dita:rnc:mapGroup.mod.rnc:1.2

# ============================================================= 
# SYSTEM:     Darwin Information Typing Architecture (DITA)     
# PURPOSE:    Define elements and specialization attributes
#             for Map Group Domain             
# ORIGINAL CREATION DATE:  
# September 2010                                                
# (C) Copyright Syncro Soft 2010-2011                                
# All Rights Reserved.                                          
# =============================================================

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

# Define the domain values of this module
domains-atts-value |= "(map mapgroup-d)"
# Define domain extension patterns
mapgroup-d-topicref =
  anchorref.element
  | keydef.element
  | mapref.element
  | topicgroup.element
  | topichead.element
  | topicset.element
  | topicsetref.element
# Extend the patterns with the domain contribution
topicref |= mapgroup-d-topicref
# Define elements content and attributes

# LONG NAME: Topic Head
topichead.content =
  topicmeta?, (anchor | data.elements.incl | navref | topicref)*
topichead.attributes =
  attribute navtitle { text }?,
  attribute outputclass { text }?,
  attribute keys { text }?,
  attribute copy-to { text }?,
  topicref-atts,
  univ-atts
topichead.element =
  
  ## The <topichead> element provides a title-only entry in a navigation map,
  ##         as an alternative to the fully-linked title provided by the <topicref> element. 
  ##         Category: Mapgroup elements
  element topichead { topichead.attlist, topichead.content }
topichead.attlist &= topichead.attributes
# LONG NAME: Topic Group
topicgroup.content =
  topicmeta?, (anchor | data.elements.incl | navref | topicref)*
topicgroup.attributes =
  attribute outputclass { text }?,
  topicref-atts,
  univ-atts
topicgroup.element =
  
  ## The <topicgroup> element is for creating groups of <topicref> elements
  ##         without affecting the hierarchy, as opposed to nested < topicref> elements within a
  ##         <topicref>, which does imply a structural hierarchy. It is typically used outside a
  ##         hierarchy to identify groups for linking without affecting the resulting toc/navigation
  ##         output. 
  ##         Category: Mapgroup elements
  element topicgroup { topicgroup.attlist, topicgroup.content }
topicgroup.attlist &= topicgroup.attributes
# LONG NAME: Anchor Reference
anchorref.content = topicmeta?, (data.elements.incl | topicref)*
anchorref.attributes =
  attribute navtitle { text }?,
  attribute href { text }?,
  attribute keyref { text }?,
  attribute keys { text }?,
  attribute query { text }?,
  attribute copy-to { text }?,
  attribute outputclass { text }?,
  attribute collection-type {
    "choice"
    | "family"
    | "sequence"
    | "unordered"
    | "-dita-use-conref-target"
  }?,
  attribute processing-role {
    "normal" | "resource-only" | "-dita-use-conref-target"
  }?,
  [ a:defaultValue = "anchor" ] attribute type { text }?,
  attribute scope {
    "external" | "local" | "peer" | "-dita-use-conref-target"
  }?,
  attribute locktitle { "no" | "yes" | "-dita-use-conref-target" }?,
  [ a:defaultValue = "ditamap" ] attribute format { text }?,
  attribute linking {
    "none"
    | "normal"
    | "sourceonly"
    | "targetonly"
    | "-dita-use-conref-target"
  }?,
  attribute toc { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute print {
    "no" | "printonly" | "yes" | "-dita-use-conref-target"
  }?,
  attribute search { "no" | "yes" | "-dita-use-conref-target" }?,
  [ a:defaultValue = "to-navigation" ] attribute chunk { text }?,
  univ-atts
anchorref.element =
  
  ## The contents of an <anchorref> element are rendered both in the original
  ##         authored location and at the location of the referenced <anchor> element. The referenced
  ##         <anchor> element can be defined in the current map or another map.
  element anchorref { anchorref.attlist, anchorref.content }
anchorref.attlist &= anchorref.attributes
# LONG NAME: Map Reference
mapref.content = topicmeta?, data.elements.incl*
mapref.attributes =
  attribute navtitle { text }?,
  attribute href { text }?,
  attribute keyref { text }?,
  attribute keys { text }?,
  attribute query { text }?,
  attribute copy-to { text }?,
  attribute outputclass { text }?,
  [ a:defaultValue = "ditamap" ] attribute format { text }?,
  topicref-atts-without-format,
  univ-atts
mapref.element =
  
  ## The <mapref> element is a convenience element that has the same meaning as
  ##         a <topicref> element that explicitly sets the format attribute to "ditamap". The
  ##         hierarchy of the referenced map is merged into the container map at the position of the
  ##         reference, and the relationship tables of the child map are added to the parent
  ##         map.
  element mapref { mapref.attlist, mapref.content }
mapref.attlist &= mapref.attributes
# LONG NAME: Topicset
topicset.content =
  topicmeta?, (anchor | data.elements.incl | navref | topicref)*
topicset.attributes =
  attribute navtitle { text }?,
  attribute href { text }?,
  attribute keyref { text }?,
  attribute keys { text }?,
  attribute query { text }?,
  attribute copy-to { text }?,
  attribute outputclass { text }?,
  attribute collection-type {
    "choice"
    | "family"
    | "sequence"
    | "unordered"
    | "-dita-use-conref-target"
  }?,
  attribute processing-role {
    "normal" | "resource-only" | "-dita-use-conref-target"
  }?,
  attribute type { text }?,
  attribute scope {
    "external" | "local" | "peer" | "-dita-use-conref-target"
  }?,
  attribute locktitle { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute format { text }?,
  attribute linking {
    "none"
    | "normal"
    | "sourceonly"
    | "targetonly"
    | "-dita-use-conref-target"
  }?,
  attribute toc { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute print {
    "no" | "printonly" | "yes" | "-dita-use-conref-target"
  }?,
  attribute search { "no" | "yes" | "-dita-use-conref-target" }?,
  [ a:defaultValue = "to-navigation" ] attribute chunk { text }?,
  attribute id { xsd:NMTOKEN },
  conref-atts,
  select-atts,
  localization-atts
topicset.element =
  
  ## The <topicset> element defines a complete unit of content that can be
  ##         reused in other DITA maps or other <topicset> elements. The <topicset> element can be
  ##         especially useful for task composition in which larger tasks that are composed indefinitely
  ##         of smaller tasks. The id attribute on a <topicset> is required, which ensures that the
  ##         complete unit is available for reuse in other contexts.
  element topicset { topicset.attlist, topicset.content }
topicset.attlist &= topicset.attributes
# LONG NAME: Topicset Reference
topicsetref.content = topicmeta?, (data.elements.incl | topicref)*
topicsetref.attributes =
  attribute navtitle { text }?,
  attribute href { text }?,
  attribute keyref { text }?,
  attribute keys { text }?,
  attribute query { text }?,
  attribute copy-to { text }?,
  attribute outputclass { text }?,
  attribute collection-type {
    "choice"
    | "family"
    | "sequence"
    | "unordered"
    | "-dita-use-conref-target"
  }?,
  attribute processing-role {
    "normal" | "resource-only" | "-dita-use-conref-target"
  }?,
  [ a:defaultValue = "topicset" ] attribute type { text }?,
  attribute scope {
    "external" | "local" | "peer" | "-dita-use-conref-target"
  }?,
  attribute locktitle { "no" | "yes" | "-dita-use-conref-target" }?,
  [ a:defaultValue = "ditamap" ] attribute format { text }?,
  attribute linking {
    "none"
    | "normal"
    | "sourceonly"
    | "targetonly"
    | "-dita-use-conref-target"
  }?,
  attribute toc { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute print {
    "no" | "printonly" | "yes" | "-dita-use-conref-target"
  }?,
  attribute search { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute chunk { text }?,
  univ-atts
topicsetref.element =
  
  ## The <topicsetref> element references a <topicset> element. The
  ##         referenced <topicset> element can be defined in the current map or in another
  ##         map.
  element topicsetref { topicsetref.attlist, topicsetref.content }
topicsetref.attlist &= topicsetref.attributes
# LONG NAME: Key Definition
keydef.content =
  topicmeta?, (anchor | data.elements.incl | navref | topicref)*
keydef.attributes =
  attribute navtitle { text }?,
  attribute href { text }?,
  attribute keyref { text }?,
  attribute keys { text },
  attribute query { text }?,
  attribute copy-to { text }?,
  attribute outputclass { text }?,
  attribute collection-type {
    "choice"
    | "family"
    | "sequence"
    | "unordered"
    | "-dita-use-conref-target"
  }?,
  [ a:defaultValue = "resource-only" ]
  attribute processing-role {
    "normal" | "resource-only" | "-dita-use-conref-target"
  }?,
  attribute type { text }?,
  attribute scope {
    "external" | "local" | "peer" | "-dita-use-conref-target"
  }?,
  attribute locktitle { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute format { text }?,
  attribute linking {
    "none"
    | "normal"
    | "sourceonly"
    | "targetonly"
    | "-dita-use-conref-target"
  }?,
  attribute toc { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute print {
    "no" | "printonly" | "yes" | "-dita-use-conref-target"
  }?,
  attribute search { "no" | "yes" | "-dita-use-conref-target" }?,
  attribute chunk { text }?,
  univ-atts
keydef.element =
  
  ## The <keydef> element is a convenience element that is used to define keys
  ##         without any of the other effects that occur when using a <topicref> element: no content
  ##         is included in output, no title is included in the table of contents, and no linking or
  ##         other relationships are defined. The <keydef> element is not the only way to define keys;
  ##         its purpose is to simplify the process by defaulting several attributes to achieve the
  ##         described behaviors.
  element keydef { keydef.attlist, keydef.content }
keydef.attlist &= keydef.attributes
# Specialization attributes. Global attributes and class defaults
anchorref.attlist &=
  global-atts,
  [ a:defaultValue = "+ map/topicref mapgroup-d/anchorref " ]
  attribute class { text }?
keydef.attlist &=
  global-atts,
  [ a:defaultValue = "+ map/topicref mapgroup-d/keydef " ]
  attribute class { text }?
mapref.attlist &=
  global-atts,
  [ a:defaultValue = "+ map/topicref mapgroup-d/mapref " ]
  attribute class { text }?
topicgroup.attlist &=
  global-atts,
  [ a:defaultValue = "+ map/topicref mapgroup-d/topicgroup " ]
  attribute class { text }?
topichead.attlist &=
  global-atts,
  [ a:defaultValue = "+ map/topicref mapgroup-d/topichead " ]
  attribute class { text }?
topicset.attlist &=
  global-atts,
  [ a:defaultValue = "+ map/topicref mapgroup-d/topicset " ]
  attribute class { text }?
topicsetref.attlist &=
  global-atts,
  [ a:defaultValue = "+ map/topicref mapgroup-d/topicsetref " ]
  attribute class { text }?
# ================== DITA Map Group Domain  ===================
