example-data/oxygen-frameworks/samples/schemas/travel-guide.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.oxygenxml.com/ns/samples/travel-guide"
    xmlns="http://www.oxygenxml.com/ns/samples/travel-guide">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd">
        <xs:annotation>
            <xs:documentation>
         This import brings in the XML namespace attributes
         The XML attributes are used by various modules.
       </xs:documentation>
        </xs:annotation>
    </xs:import>
    <xs:element name="travelGuide">
        <xs:annotation>
            <xs:documentation>Root element of a travel guide document.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title"/>
                <xs:element ref="header"/>
                <xs:element maxOccurs="unbounded" ref="section"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="title" type="collapseString">
        <xs:annotation>
            <xs:documentation>The title of the travel guide article.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="information">
        <xs:annotation>
            <xs:documentation>General information about the site location.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="population" type="xs:integer"/>
            <xs:attribute name="area" type="xs:string"/>
            <xs:attribute name="currency" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="section">
        <xs:annotation>
            <xs:documentation>A section in the travel guide article.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="p"/>
                <xs:element minOccurs="0" ref="infoTable"/>
                <xs:element minOccurs="0" ref="planesSchedule"/>
                <xs:element minOccurs="0" ref="ferriesSchedule"/>
                <xs:element minOccurs="0" ref="pointsOfInterest"/>
                <xs:element minOccurs="0" ref="external-links"/>
            </xs:sequence>
            <xs:attribute name="bgimage" type="xs:anyURI"/>
            <xs:attribute name="class" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="p">
        <xs:annotation>
            <xs:documentation>A paragraph in a section of the travel guide article.</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element minOccurs="0" ref="a"/>
                <xs:element minOccurs="0" ref="place"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="place" type="collapseString">
        <xs:annotation>
            <xs:documentation>Emphasizes the name of the location.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="a">
        <xs:annotation>
            <xs:documentation>Defines a link or an anchor.</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="href" type="xs:anyURI"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="infoTable">
        <xs:annotation>
            <xs:documentation>Defines a table which holds air and water temperature information on a monthly basis.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tr"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tr">
        <xs:annotation>
            <xs:documentation>A table row in a info table element.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="th"/>
                <xs:sequence minOccurs="0">
                    <xs:element name="month">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="January"/>
                                <xs:enumeration value="February"/>
                                <xs:enumeration value="March"/>
                                <xs:enumeration value="April"/>
                                <xs:enumeration value="May"/>
                                <xs:enumeration value="June"/>
                                <xs:enumeration value="July"/>
                                <xs:enumeration value="August"/>
                                <xs:enumeration value="September"/>
                                <xs:enumeration value="October"/>
                                <xs:enumeration value="November"/>
                                <xs:enumeration value="December"/>
                                <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="waterT">
                        <xs:simpleType>
                            <xs:restriction base="xs:short">
                                <xs:minInclusive value="5"/>
                                <xs:maxInclusive value="40"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="airT">
                        <xs:simpleType>
                            <xs:restriction base="xs:short">
                                <xs:minInclusive value="5"/>
                                <xs:maxInclusive value="40"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="planesSchedule">
        <xs:annotation>
            <xs:documentation>Holds information about a flight.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="planeSchedule">
                    <xs:complexType>
                        <xs:attribute name="company" type="xs:string"/>
                        <xs:attribute name="from" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ferriesSchedule">
        <xs:annotation>
            <xs:documentation>Holds information about a ferry trip.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="ferrySchedule">
                    <xs:complexType>
                        <xs:attribute name="company" type="xs:string"/>
                        <xs:attribute name="from" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pointsOfInterest">
        <xs:annotation>
            <xs:documentation>Contains a description of a point of interest together with clasification and contact information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="pointOfInterest">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="collapseString"/>
                            <xs:element name="address" type="address_type"> </xs:element>
                            <xs:element name="data">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="row">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="description">

                                                  <xs:complexType mixed="false">

                                                  <xs:sequence>
                                                  <xs:element ref="p"/>
                                                  <xs:element name="img">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="caption" type="collapseString"/>
                                                  </xs:sequence>
                                                  <xs:attribute name="href" type="xs:string"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:attribute name="facilities" type="xs:string"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="info">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="category">
                                                  <xs:complexType>
                                                  <xs:attribute name="type">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="beach">
                                                  <xs:annotation>
                                                  <xs:documentation>Beach.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="town">
                                                  <xs:annotation>
                                                  <xs:documentation>Town.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="landscape">
                                                  <xs:annotation>
                                                  <xs:documentation>Landscape.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="cost">
                                                  <xs:complexType>
                                                  <xs:attribute name="range">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="$">
                                                  <xs:annotation>
                                                  <xs:documentation>Low prices.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="$$">
                                                  <xs:annotation>
                                                  <xs:documentation>Medium prices.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="$$$">
                                                  <xs:annotation>
                                                  <xs:documentation>High prices.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="$$$$">
                                                  <xs:annotation>
                                                  <xs:documentation>Very high prices.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="how-to-get-there">
                                                  <xs:complexType>
                                                  <xs:attribute name="reachableBy">
                                                  <xs:simpleType>
                                                  <xs:list>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="Boat">
                                                  <xs:annotation>
                                                  <xs:documentation>Reachable by boat.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="Car">
                                                  <xs:annotation>
                                                  <xs:documentation>Reachable by car.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="Bus">
                                                  <xs:annotation>
                                                  <xs:documentation>Reachable by bus.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:list>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="contact">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="phone" type="collapseString"/>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="email" type="collapseString"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="availability"
                                                  type="collapseString"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="header">
        <xs:annotation>
            <xs:documentation>A header section of a travel guide document. It contains a background image and general information of that site location.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="information"/>
            </xs:sequence>
            <xs:attribute name="bgimage" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="external-links">
        <xs:annotation>
            <xs:documentation>This is a collection of links to external resources.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="a"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="collapseString">
        <xs:annotation>
            <xs:documentation>An xs:string with the whitespace facet set to collapse.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="address_type" mixed="true">
        <xs:simpleContent>
            <xs:extension base="address_st">
                <xs:attribute name="lat"/>
                <xs:attribute name="lng"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="address_st">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
