example-data/oxygen-frameworks/dita/DITA-OT2.x/plugins/org.dita-ng.doctypes/rng/technicalContent/rng/reference.mod.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= 
  MODULE:    DITA Reference - RNG              
  VERSION:   1.2                                                
  DATE:      October 2010                                       
  ============================================================= -->
<!--
  Refer to the latest version of this file by the following URI:
  urn:dita-ng:dita:rng:reference.mod.rng
  To refer to this specific version, you may use this value:
  urn:dita-ng:dita:rng:reference.mod.rng:1.2
-->
<!-- ============================================================= 
  SYSTEM:     Darwin Information Typing Architecture (DITA)     
  PURPOSE:    Define elements and specialization attributes
              Reference
  ORIGINAL CREATION DATE:  
  September 2010                                                
  (C) Copyright Syncro Soft 2010-2011                                
  All Rights Reserved.                                          
  ============================================================= -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- Define the domain values of this module -->
  <define name="domains-atts-value" combine="choice">
    <value>(topic reference)</value>
  </define>

  <define name="reference-info-types">
    <ref name="info-types"/>
  </define>

  <!-- Define patterns -->
  <define name="refbody">
    <ref name="refbody.element"/>
  </define>
  <define name="refbodydiv">
    <ref name="refbodydiv.element"/>
  </define>
  <define name="refsyn">
    <ref name="refsyn.element"/>
  </define>
  <define name="properties">
    <ref name="properties.element"/>
  </define>
  <define name="property">
    <ref name="property.element"/>
  </define>
  <define name="proptype">
    <ref name="proptype.element"/>
  </define>
  <define name="propvalue">
    <ref name="propvalue.element"/>
  </define>
  <define name="propdesc">
    <ref name="propdesc.element"/>
  </define>
  <define name="prophead">
    <ref name="prophead.element"/>
  </define>
  <define name="proptypehd">
    <ref name="proptypehd.element"/>
  </define>
  <define name="propvaluehd">
    <ref name="propvaluehd.element"/>
  </define>
  <define name="propdeschd">
    <ref name="propdeschd.element"/>
  </define>
  
  <!-- Define elements content and attributes -->
  
  <!-- LONG NAME: Reference -->
  <define name="reference.content">
    <ref name="title"/>
    <optional>
      <ref name="titlealts"/>
    </optional>
    <optional>
      <choice>
        <ref name="abstract"/>
        <ref name="shortdesc"/>
      </choice>
    </optional>
    <optional>
      <ref name="prolog"/>
    </optional>
    <optional>
      <ref name="refbody"/>
    </optional>
    <optional>
      <ref name="related-links"/>
    </optional>
    <zeroOrMore>
      <ref name="reference-info-types"/>
    </zeroOrMore>
  </define>
  <define name="reference.attributes">
    <attribute name="id">
      <data type="ID"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <reference> element defines a top-level container for a reference topic. Reference topics document programming constructs or facts about a product. Examples of reference topics include language elements, class descriptions, commands, functions, statements, protocols, types, declarators, operands, and API information, which provide quick access to facts, but no explanation of concepts or procedures. Reference topics have the same high-level structure as any other topic type, with a title, short description, and body. Within the body, reference topics are typically organized into one or more sections, property lists, and tables. The reference topic type provides general rules that apply to all kinds of reference information, using elements like <refsyn> for syntax or signatures, and <properties> for lists of properties and values.
    Category: Reference elements
  -->
  <define name="reference.element">
    <element name="reference">
      <ref name="reference.attlist"/>
      <ref name="reference.content"/>
    </element>
  </define>
  <define name="reference.attlist" combine="interleave">
    <ref name="reference.attributes"/>
    <ref name="arch-atts"/>
    <ref name="domains-atts"/>
  </define>
  
  <!-- LONG NAME: Reference Body -->
  <define name="refbody.content">
    <zeroOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="example"/>
        <ref name="foreign.unknown.incl"/>
        <ref name="refbodydiv"/>
        <ref name="refsyn"/>
        <ref name="properties"/>
        <ref name="section"/>
        <ref name="simpletable"/>
        <ref name="table"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="refbody.attributes">
    <ref name="id-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="base"/>
    </optional>
    <ref name="base-attribute-extensions"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <refbody> element is a container for the main content of the reference topic. Reference topics limit the body structure to tables (both simple and standard), property lists, syntax sections, and generic sections and examples, in any sequence or number.
    Category: Reference elements
  -->
  <define name="refbody.element">
    <element name="refbody">
      <ref name="refbody.attlist"/>
      <ref name="refbody.content"/>
    </element>
  </define>
  <define name="refbody.attlist" combine="interleave">
    <ref name="refbody.attributes"/>
  </define>
  
  <!-- LONG NAME: Reference Body division -->
  <define name="refbodydiv.content">
    <zeroOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="example"/>
        <ref name="foreign.unknown.incl"/>
        <ref name="refbodydiv"/>
        <ref name="refsyn"/>
        <ref name="properties"/>
        <ref name="section"/>
        <ref name="simpletable"/>
        <ref name="table"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="refbodydiv.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <refbodydiv> element is similar to the <bodydiv> element in that it provides an informal container for content that may be grouped within a reference. Reference topics place many restrictions on their content compared to generic topics; the <refbodydiv> element maintains these restrictions by only allowing elements that are already available within the body of a reference. There are no additional semantics attached to the <refbodydiv> element; it is purely a grouping element provided to help organize content. -->
  <define name="refbodydiv.element">
    <element name="refbodydiv">
      <ref name="refbodydiv.attlist"/>
      <ref name="refbodydiv.content"/>
    </element>
  </define>
  <define name="refbodydiv.attlist" combine="interleave">
    <ref name="refbodydiv.attributes"/>
  </define>
  
  <!-- LONG NAME: Reference Syntax -->
  <define name="refsyn.content">
    <zeroOrMore>
      <ref name="section.cnt"/>
    </zeroOrMore>
  </define>
  <define name="refsyn.attributes">
    <optional>
      <attribute name="spectitle"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <refsyn> element is a special section inside a reference topic. The section often contains syntax or signature content (for example, a command-line utility's calling syntax, or an API's signature). The <refsyn> contains a brief, possibly diagrammatic description of the subject's interface or high-level structure.
    Category: Reference elements
  -->
  <define name="refsyn.element">
    <element name="refsyn">
      <ref name="refsyn.attlist"/>
      <ref name="refsyn.content"/>
    </element>
  </define>
  <define name="refsyn.attlist" combine="interleave">
    <ref name="refsyn.attributes"/>
  </define>
  
  <!-- LONG NAME: Properties -->
  <define name="properties.content">
    <optional>
      <ref name="prophead"/>
    </optional>
    <oneOrMore>
      <ref name="property"/>
    </oneOrMore>
  </define>
  <define name="properties.attributes">
    <optional>
      <attribute name="relcolwidth"/>
    </optional>
    <optional>
      <attribute name="keycol">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="refcols">
        <data type="NMTOKENS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="spectitle"/>
    </optional>
    <ref name="display-atts"/>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <properties> element gives a list of properties for the subject of the current topic, for example whether a class is public or protected. Each property can include the type, value, and a description. The typical rendering is usually in a table-like format. To represent multiple values for a type, just create additional property elements and use only the <propvalue> element (and <propdesc> when needed) for each successive value.
    Category: Reference elements
  -->
  <define name="properties.element">
    <element name="properties">
      <ref name="properties.attlist"/>
      <ref name="properties.content"/>
    </element>
  </define>
  <define name="properties.attlist" combine="interleave">
    <ref name="properties.attributes"/>
  </define>
  
  <!-- LONG NAME:  Property Head -->
  <define name="prophead.content">
    <optional>
      <ref name="proptypehd"/>
    </optional>
    <optional>
      <ref name="propvaluehd"/>
    </optional>
    <optional>
      <ref name="propdeschd"/>
    </optional>
  </define>
  <define name="prophead.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The prophead element supports regular headings for the properties element.
    Category: Reference elements
  -->
  <define name="prophead.element">
    <element name="prophead">
      <ref name="prophead.attlist"/>
      <ref name="prophead.content"/>
    </element>
  </define>
  <define name="prophead.attlist" combine="interleave">
    <ref name="prophead.attributes"/>
  </define>
 
  <!-- LONG NAME: Property Type Head -->
  <define name="proptypehd.content">
    <zeroOrMore>
      <ref name="tblcell.cnt"/>
    </zeroOrMore>
  </define>
  <define name="proptypehd.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The proptypehd element supports regular headings for the type column of a properties table.
    Category: Reference elements
  -->
  <define name="proptypehd.element">
    <element name="proptypehd">
      <ref name="proptypehd.attlist"/>
      <ref name="proptypehd.content"/>
    </element>
  </define>
  <define name="proptypehd.attlist" combine="interleave">
    <ref name="proptypehd.attributes"/>
  </define>
  <!-- LONG NAME: Property Value Head -->
  <define name="propvaluehd.content">
    <zeroOrMore>
      <ref name="tblcell.cnt"/>
    </zeroOrMore>
  </define>
  <define name="propvaluehd.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The propvaluehd element supports regular headings for the value column of a properties table.
    Category: Reference elements
  -->
  <define name="propvaluehd.element">
    <element name="propvaluehd">
      <ref name="propvaluehd.attlist"/>
      <ref name="propvaluehd.content"/>
    </element>
  </define>
  <define name="propvaluehd.attlist" combine="interleave">
    <ref name="propvaluehd.attributes"/>
  </define>
  
  <!-- LONG NAME: Property Description Head -->
  <define name="propdeschd.content">
    <zeroOrMore>
      <ref name="tblcell.cnt"/>
    </zeroOrMore>
  </define>
  <define name="propdeschd.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The propdeschd element supports regular headings for the description column of a properties table.
    Category: Reference elements
  -->
  <define name="propdeschd.element">
    <element name="propdeschd">
      <ref name="propdeschd.attlist"/>
      <ref name="propdeschd.content"/>
    </element>
  </define>
  <define name="propdeschd.attlist" combine="interleave">
    <ref name="propdeschd.attributes"/>
  </define>
  <!-- LONG NAME: Property -->
  <define name="property.content">
    <optional>
      <ref name="proptype"/>
    </optional>
    <optional>
      <ref name="propvalue"/>
    </optional>
    <optional>
      <ref name="propdesc"/>
    </optional>
  </define>
  <define name="property.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <property> element represents a property of the current topic's subject. For example, if the current topic is a class, the property might show that the class is protected rather than public. It contains three optional elements: type, value, and description.
    Category: Reference elements
  -->
  <define name="property.element">
    <element name="property">
      <ref name="property.attlist"/>
      <ref name="property.content"/>
    </element>
  </define>
  <define name="property.attlist" combine="interleave">
    <ref name="property.attributes"/>
  </define>

  <!-- LONG NAME: Property Type -->
  <define name="proptype.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="proptype.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The proptype element describes the type of property.
    Category: Reference elements
  -->
  <define name="proptype.element">
    <element name="proptype">
      <ref name="proptype.attlist"/>
      <ref name="proptype.content"/>
    </element>
  </define>
  <define name="proptype.attlist" combine="interleave">
    <ref name="proptype.attributes"/>
  </define>
 
  <!-- LONG NAME: Property Value -->
  <define name="propvalue.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="propvalue.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <propvalue> element indicates the value or values for the current property type. You can put values in separate rows if they need separate descriptions, and just leave the <proptype> element blank.
    Category: Reference elements
  -->
  <define name="propvalue.element">
    <element name="propvalue">
      <ref name="propvalue.attlist"/>
      <ref name="propvalue.content"/>
    </element>
  </define>
  <define name="propvalue.attlist" combine="interleave">
    <ref name="propvalue.attributes"/>
  </define>
 
  <!-- LONG NAME: Property Descrption -->
  <define name="propdesc.content">
    <zeroOrMore>
      <ref name="desc.cnt"/>
    </zeroOrMore>
  </define>
  <define name="propdesc.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <propdesc> element is used to provide a short description of the property type and its listed values (or just the value).
    Category: Reference elements
  -->
  <define name="propdesc.element">
    <element name="propdesc">
      <ref name="propdesc.attlist"/>
      <ref name="propdesc.content"/>
    </element>
  </define>
  <define name="propdesc.attlist" combine="interleave">
    <ref name="propdesc.attributes"/>
  </define>
  
  <!-- Specialization attributes. Global attributes and class defaults -->
  
  <define name="reference.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/topic       reference/reference "/>
    </optional>
  </define>
  <define name="refbody.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/body        reference/refbody "/>
    </optional>
  </define>
  <define name="refbodydiv.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/bodydiv     reference/refbodydiv "/>
    </optional>
  </define>
  <define name="refsyn.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/section     reference/refsyn "/>
    </optional>
  </define>
  <define name="properties.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/simpletable reference/properties "/>
    </optional>
  </define>
  <define name="property.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/strow       reference/property "/>
    </optional>
  </define>
  <define name="proptype.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry     reference/proptype "/>
    </optional>
  </define>
  <define name="propvalue.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry     reference/propvalue "/>
    </optional>
  </define>
  <define name="propdesc.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry     reference/propdesc "/>
    </optional>
  </define>
  <define name="prophead.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/sthead      reference/prophead "/>
    </optional>
  </define>
  <define name="proptypehd.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry     reference/proptypehd "/>
    </optional>
  </define>
  <define name="propvaluehd.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry     reference/propvaluehd "/>
    </optional>
  </define>
  <define name="propdeschd.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry     reference/propdeschd "/>
    </optional>
  </define>
</grammar>
<!-- ================== End DITA Reference  =========================== -->
