example-data/oxygen-frameworks/dita/DITA-OT2.x/plugins/org.dita-ng.doctypes/rng/learning/rng/learningDomain.mod.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= 
  MODULE:    DITA Learning Domain - RNG              
  VERSION:   1.2                                                
  DATE:      November 2010                                       
  ============================================================= -->
<!--
  Refer to the latest version of this file by the following URI:
  urn:dita-ng:dita:rng:learningDomain.mod.rng
  To refer to this specific version, you may use this value:
  urn:dita-ng:dita:rng:learningDomain.mod.rng:1.2
-->
<!-- ============================================================= 
  SYSTEM:     Darwin Information Typing Architecture (DITA)     
  PURPOSE:    Define elements and specialization attributes for 
              Learning Domain
  ORIGINAL CREATION DATE:  
  September 2010                                                
  (C) Copyright Syncro Soft 2010-2011                                
  All Rights Reserved.                                          
  ============================================================= -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns="http://relaxng.org/ns/structure/1.0" 
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <!-- Define the domain values of this module -->
  <define name="domains-atts-value" combine="choice">
    <value>(topic learningInteractionBase-d learning-d)</value>
  </define>
  
  
  <define name="learning-d-note">
    <ref name="lcInstructornote.element"/>
  </define>
  <define name="note" combine="choice">
    <ref name="learning-d-note"/>
  </define>
  
  <!--
    The following elements are specializations of lcInteractionBase, 
    which is a specialization of fig. So, they are available as 
    replacements for each of those elements.
  -->
  <define name="learning-d-fig">
    <choice>
      <ref name="lcTrueFalse.element"/>
      <ref name="lcSingleSelect.element"/>
      <ref name="lcMultipleSelect.element"/>
      <ref name="lcSequencing.element"/>
      <ref name="lcMatching.element"/>
      <ref name="lcHotspot.element"/>
      <ref name="lcOpenQuestion.element"/>
    </choice>
  </define>
  <define name="fig" combine="choice">
    <ref name="learning-d-fig"/>
  </define>
  
  <define name="learning-d-lcInteractionBase">
    <choice>
      <ref name="lcTrueFalse.element"/>
      <ref name="lcSingleSelect.element"/>
      <ref name="lcMultipleSelect.element"/>
      <ref name="lcSequencing.element"/>
      <ref name="lcMatching.element"/>
      <ref name="lcHotspot.element"/>
      <ref name="lcOpenQuestion.element"/>
    </choice>
  </define>
  <define name="lcInteractionBase" combine="choice">
    <ref name="learning-d-lcInteractionBase"/>
  </define>
  
  <!-- Define patterns -->
  <define name="lcQuestion">
    <ref name="lcQuestion.element"/>
  </define>
  <define name="lcOpenAnswer">
    <ref name="lcOpenAnswer.element"/>
  </define>
  <define name="lcAnswerOptionGroup">
    <ref name="lcAnswerOptionGroup.element"/>
  </define>
  <define name="lcAsset">
    <ref name="lcAsset.element"/>
  </define>
  <define name="lcFeedbackCorrect">
    <ref name="lcFeedbackCorrect.element"/>
  </define>
  <define name="lcFeedbackIncorrect">
    <ref name="lcFeedbackIncorrect.element"/>
  </define>
  <define name="lcAnswerOption">
    <ref name="lcAnswerOption.element"/>
  </define>
  <define name="lcAnswerContent">
    <ref name="lcAnswerContent.element"/>
  </define>
  <define name="lcSequenceOptionGroup">
    <ref name="lcSequenceOptionGroup.element"/>
  </define>
  <define name="lcSequenceOption">
    <ref name="lcSequenceOption.element"/>
  </define>
  <define name="lcSequence">
    <ref name="lcSequence.element"/>
  </define>
  <define name="lcMatchTable">
    <ref name="lcMatchTable.element"/>
  </define>
  <define name="lcMatchingHeader">
    <ref name="lcMatchingHeader.element"/>
  </define>
  <define name="lcMatchingPair">
    <ref name="lcMatchingPair.element"/>
  </define>
  <define name="lcItem">
    <ref name="lcItem.element"/>
  </define>
  <define name="lcMatchingItem">
    <ref name="lcMatchingItem.element"/>
  </define>
  <define name="lcMatchingItemFeedback">
    <ref name="lcMatchingItemFeedback.element"/>
  </define>
  <define name="lcHotspotMap">
    <ref name="lcHotspotMap.element"/>
  </define>
  <define name="lcArea">
    <ref name="lcArea.element"/>
  </define>
  <define name="lcAreaShape">
    <ref name="lcAreaShape.element"/>
  </define>
  <define name="lcAreaCoords">
    <ref name="lcAreaCoords.element"/>
  </define>
  <define name="lcCorrectResponse">
    <ref name="lcCorrectResponse.element"/>
  </define>
  <define name="lcFeedback">
    <ref name="lcFeedback.element"/>
  </define>
  
  <!-- Define elements content and attributes -->
  
  <define name="lcInstructornote.content">
    <zeroOrMore>
      <ref name="note.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcInstructornote.attributes">
    <optional>
      <attribute name="spectitle"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:Use the <lcInstructornote> element to provide information or notes you want to provide to the course instructor. These notes can be condionalized out of content you intend to deliver to the learner. -->
  <define name="lcInstructornote.element">
    <element name="lcInstructornote">
      <ref name="lcInstructornote.attlist"/>
      <ref name="lcInstructornote.content"/>
    </element>
  </define>
  <define name="lcInstructornote.attlist" combine="interleave">
    <ref name="lcInstructornote.attributes"/>
  </define>
  <!--
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    - INTERACTION DEFINITIONS
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  -->
  
  <define name="lcTrueFalse.content">
    <optional>
      <ref name="title"/>
    </optional>
    <ref name="lcQuestion"/>
    <optional>
      <ref name="lcAsset"/>
    </optional>
    <ref name="lcAnswerOptionGroup"/>
    <optional>
      <ref name="lcFeedbackIncorrect"/>
    </optional>
    <optional>
      <ref name="lcFeedbackCorrect"/>
    </optional>
    <zeroOrMore>
      <ref name="data"/>
    </zeroOrMore>
  </define>
  <define name="lcTrueFalse.attributes">
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:A lcTrueFalse interaction presents the learner with two choices, one correct, the other incorrect, often presented as true/false or yes/no responses. -->
  <define name="lcTrueFalse.element">
    <element name="lcTrueFalse">
      <ref name="lcTrueFalse.attlist"/>
      <ref name="lcTrueFalse.content"/>
    </element>
  </define>
  <define name="lcTrueFalse.attlist" combine="interleave">
    <ref name="lcTrueFalse.attributes"/>
  </define>
  
  <define name="lcSingleSelect.content">
    <optional>
      <ref name="title"/>
    </optional>
    <ref name="lcQuestion"/>
    <optional>
      <ref name="lcAsset"/>
    </optional>
    <ref name="lcAnswerOptionGroup"/>
    <optional>
      <ref name="lcFeedbackIncorrect"/>
    </optional>
    <optional>
      <ref name="lcFeedbackCorrect"/>
    </optional>
    <zeroOrMore>
      <ref name="data"/>
    </zeroOrMore>
  </define>
  <define name="lcSingleSelect.attributes">
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:An lcSingleSelect interaction presents three or more choices, only one of which is correct. -->
  <define name="lcSingleSelect.element">
    <element name="lcSingleSelect">
      <ref name="lcSingleSelect.attlist"/>
      <ref name="lcSingleSelect.content"/>
    </element>
  </define>
  <define name="lcSingleSelect.attlist" combine="interleave">
    <ref name="lcSingleSelect.attributes"/>
  </define>
  
  <define name="lcMultipleSelect.content">
    <optional>
      <ref name="title"/>
    </optional>
    <ref name="lcQuestion"/>
    <optional>
      <ref name="lcAsset"/>
    </optional>
    <ref name="lcAnswerOptionGroup"/>
    <optional>
      <ref name="lcFeedbackIncorrect"/>
    </optional>
    <optional>
      <ref name="lcFeedbackCorrect"/>
    </optional>
    <zeroOrMore>
      <ref name="data"/>
    </zeroOrMore>
  </define>
  <define name="lcMultipleSelect.attributes">
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:In an lcMultipleSelect interaction, the learner must indicate two or more correct answers from a list of choices. -->
  <define name="lcMultipleSelect.element">
    <element name="lcMultipleSelect">
      <ref name="lcMultipleSelect.attlist"/>
      <ref name="lcMultipleSelect.content"/>
    </element>
  </define>
  <define name="lcMultipleSelect.attlist" combine="interleave">
    <ref name="lcMultipleSelect.attributes"/>
  </define>
  
  <define name="lcSequencing.content">
    <optional>
      <ref name="title"/>
    </optional>
    <ref name="lcQuestion"/>
    <optional>
      <ref name="lcAsset"/>
    </optional>
    <ref name="lcSequenceOptionGroup"/>
    <optional>
      <ref name="lcFeedbackIncorrect"/>
    </optional>
    <optional>
      <ref name="lcFeedbackCorrect"/>
    </optional>
    <zeroOrMore>
      <ref name="data"/>
    </zeroOrMore>
  </define>
  <define name="lcSequencing.attributes">
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:An lcSequencing interaction asks the learner to arrange a list of choices into a predefined order, such as small to large. -->
  <define name="lcSequencing.element">
    <element name="lcSequencing">
      <ref name="lcSequencing.attlist"/>
      <ref name="lcSequencing.content"/>
    </element>
  </define>
  <define name="lcSequencing.attlist" combine="interleave">
    <ref name="lcSequencing.attributes"/>
  </define>
  
  <define name="lcMatching.content">
    <optional>
      <ref name="title"/>
    </optional>
    <ref name="lcQuestion"/>
    <optional>
      <ref name="lcAsset"/>
    </optional>
    <ref name="lcMatchTable"/>
    <optional>
      <ref name="lcFeedbackIncorrect"/>
    </optional>
    <optional>
      <ref name="lcFeedbackCorrect"/>
    </optional>
    <zeroOrMore>
      <ref name="data"/>
    </zeroOrMore>
  </define>
  <define name="lcMatching.attributes">
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:In an lcMatching interaction, the learner identifies the correct choice that matches another choice. -->
  <define name="lcMatching.element">
    <element name="lcMatching">
      <ref name="lcMatching.attlist"/>
      <ref name="lcMatching.content"/>
    </element>
  </define>
  <define name="lcMatching.attlist" combine="interleave">
    <ref name="lcMatching.attributes"/>
  </define>
  
  <define name="lcHotspot.content">
    <optional>
      <ref name="title"/>
    </optional>
    <ref name="lcQuestion"/>
    <ref name="lcHotspotMap"/>
    <optional>
      <ref name="lcFeedbackIncorrect"/>
    </optional>
    <optional>
      <ref name="lcFeedbackCorrect"/>
    </optional>
    <zeroOrMore>
      <ref name="data"/>
    </zeroOrMore>
  </define>
  <define name="lcHotspot.attributes">
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:In a lcHotspot interaction, the learner clicks on a region of the screen to indicate a choice. -->
  <define name="lcHotspot.element">
    <element name="lcHotspot">
      <ref name="lcHotspot.attlist"/>
      <ref name="lcHotspot.content"/>
    </element>
  </define>
  <define name="lcHotspot.attlist" combine="interleave">
    <ref name="lcHotspot.attributes"/>
  </define>
  
  <define name="lcOpenQuestion.content">
    <optional>
      <ref name="title"/>
    </optional>
    <ref name="lcQuestion"/>
    <optional>
      <ref name="lcAsset"/>
    </optional>
    <optional>
      <ref name="lcOpenAnswer"/>
    </optional>
    <optional>
      <ref name="lcFeedbackIncorrect"/>
    </optional>
    <optional>
      <ref name="lcFeedbackCorrect"/>
    </optional>
    <zeroOrMore>
      <ref name="data"/>
    </zeroOrMore>
  </define>
  <define name="lcOpenQuestion.attributes">
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:Use <lcOpenQuestion> to pose an open-ended question in an assessment interaction. -->
  <define name="lcOpenQuestion.element">
    <element name="lcOpenQuestion">
      <ref name="lcOpenQuestion.attlist"/>
      <ref name="lcOpenQuestion.content"/>
    </element>
  </define>
  <define name="lcOpenQuestion.attlist" combine="interleave">
    <ref name="lcOpenQuestion.attributes"/>
  </define>
  
  <!--
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    - OPTION DEFINITIONS
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  -->
  <define name="lcQuestion.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcQuestion.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:Use the <lcQuestion> element in an interaction to ask the question. -->
  <define name="lcQuestion.element">
    <element name="lcQuestion">
      <ref name="lcQuestion.attlist"/>
      <ref name="lcQuestion.content"/>
    </element>
  </define>
  <define name="lcQuestion.attlist" combine="interleave">
    <ref name="lcQuestion.attributes"/>
  </define>
  
  <define name="lcOpenAnswer.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcOpenAnswer.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:Use >lcOpenAnswer< to provide a suggested answer for an >lcOpenQuestion< interaction. -->
  <define name="lcOpenAnswer.element">
    <element name="lcOpenAnswer">
      <ref name="lcOpenAnswer.attlist"/>
      <ref name="lcOpenAnswer.content"/>
    </element>
  </define>
  <define name="lcOpenAnswer.attlist" combine="interleave">
    <ref name="lcOpenAnswer.attributes"/>
  </define>
  
  <define name="lcAnswerOptionGroup.content">
    <oneOrMore>
      <ref name="lcAnswerOption"/>
    </oneOrMore>
  </define>
  <define name="lcAnswerOptionGroup.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcAnswerOptionGroup> element provides a container for the options for a true-false, single-select, or multiple-select assessment interaction. -->
  <define name="lcAnswerOptionGroup.element">
    <element name="lcAnswerOptionGroup">
      <ref name="lcAnswerOptionGroup.attlist"/>
      <ref name="lcAnswerOptionGroup.content"/>
    </element>
  </define>
  <define name="lcAnswerOptionGroup.attlist" combine="interleave">
    <ref name="lcAnswerOptionGroup.attributes"/>
  </define>
  
  <define name="lcSequenceOptionGroup.content">
    <oneOrMore>
      <ref name="lcSequenceOption"/>
    </oneOrMore>
  </define>
  <define name="lcSequenceOptionGroup.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcSequenceOptionGroup> element provides the options for an assessment sequence interaction. -->
  <define name="lcSequenceOptionGroup.element">
    <element name="lcSequenceOptionGroup">
      <ref name="lcSequenceOptionGroup.attlist"/>
      <ref name="lcSequenceOptionGroup.content"/>
    </element>
  </define>
  <define name="lcSequenceOptionGroup.attlist" combine="interleave">
    <ref name="lcSequenceOptionGroup.attributes"/>
  </define>
  
  <define name="lcAsset.content">
    <zeroOrMore>
      <choice>
        <ref name="imagemap"/>
        <ref name="image"/>
        <ref name="object"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="lcAsset.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcAsset> element in an assessment interaction provides the images or other graphic assets to support the interaction. -->
  <define name="lcAsset.element">
    <element name="lcAsset">
      <ref name="lcAsset.attlist"/>
      <ref name="lcAsset.content"/>
    </element>
  </define>
  <define name="lcAsset.attlist" combine="interleave">
    <ref name="lcAsset.attributes"/>
  </define>
  
  <define name="lcSequenceOption.content">
    <ref name="lcAnswerContent"/>
    <ref name="lcSequence"/>
  </define>
  <define name="lcSequenceOption.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcSequenceOption> element in an assessment interaction provides the contents of an item in a sequence interaction. -->
  <define name="lcSequenceOption.element">
    <element name="lcSequenceOption">
      <ref name="lcSequenceOption.attlist"/>
      <ref name="lcSequenceOption.content"/>
    </element>
  </define>
  <define name="lcSequenceOption.attlist" combine="interleave">
    <ref name="lcSequenceOption.attributes"/>
  </define>
  
  <define name="lcFeedback.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcFeedback.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcFeedback> element in an assessment interaction provides information to the learner about a correct or incorrect response. -->
  <define name="lcFeedback.element">
    <element name="lcFeedback">
      <ref name="lcFeedback.attlist"/>
      <ref name="lcFeedback.content"/>
    </element>
  </define>
  <define name="lcFeedback.attlist" combine="interleave">
    <ref name="lcFeedback.attributes"/>
  </define>
  
  <define name="lcFeedbackCorrect.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcFeedbackCorrect.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcFeedbackCorrect> element in an assessment interaction provides feedback to the learner about a correct response. -->
  <define name="lcFeedbackCorrect.element">
    <element name="lcFeedbackCorrect">
      <ref name="lcFeedbackCorrect.attlist"/>
      <ref name="lcFeedbackCorrect.content"/>
    </element>
  </define>
  <define name="lcFeedbackCorrect.attlist" combine="interleave">
    <ref name="lcFeedbackCorrect.attributes"/>
  </define>
  
  <define name="lcFeedbackIncorrect.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcFeedbackIncorrect.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcFeedbackIncorrect> element in an assessment interaction provides feedback about incorrect response. -->
  <define name="lcFeedbackIncorrect.element">
    <element name="lcFeedbackIncorrect">
      <ref name="lcFeedbackIncorrect.attlist"/>
      <ref name="lcFeedbackIncorrect.content"/>
    </element>
  </define>
  <define name="lcFeedbackIncorrect.attlist" combine="interleave">
    <ref name="lcFeedbackIncorrect.attributes"/>
  </define>
  
  <define name="lcAnswerOption.content">
    <ref name="lcAnswerContent"/>
    <optional>
      <ref name="lcCorrectResponse"/>
    </optional>
    <optional>
      <ref name="lcFeedback"/>
    </optional>
  </define>
  <define name="lcAnswerOption.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcAnswerOption> element in an assessment interaction provides the content and feedback for a question option, and can indicate the correct option. -->
  <define name="lcAnswerOption.element">
    <element name="lcAnswerOption">
      <ref name="lcAnswerOption.attlist"/>
      <ref name="lcAnswerOption.content"/>
    </element>
  </define>
  <define name="lcAnswerOption.attlist" combine="interleave">
    <ref name="lcAnswerOption.attributes"/>
  </define>
  
  <define name="lcAnswerContent.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcAnswerContent.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcAnswerContent> element in a learning assessment interaction provides the content for an answer option, which the learner can select as correct or incorrect. -->
  <define name="lcAnswerContent.element">
    <element name="lcAnswerContent">
      <ref name="lcAnswerContent.attlist"/>
      <ref name="lcAnswerContent.content"/>
    </element>
  </define>
  <define name="lcAnswerContent.attlist" combine="interleave">
    <ref name="lcAnswerContent.attributes"/>
  </define>
  
  <define name="lcMatchTable.content">
    <optional>
      <ref name="lcMatchingHeader"/>
    </optional>
    <oneOrMore>
      <ref name="lcMatchingPair"/>
    </oneOrMore>
  </define>
  <define name="lcMatchTable.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcMatchTable> element in an assessment interaction provides a format for matching items. -->
  <define name="lcMatchTable.element">
    <element name="lcMatchTable">
      <ref name="lcMatchTable.attlist"/>
      <ref name="lcMatchTable.content"/>
    </element>
  </define>
  <define name="lcMatchTable.attlist" combine="interleave">
    <ref name="lcMatchTable.attributes"/>
  </define>
  
  <define name="lcMatchingHeader.content">
    <ref name="lcItem"/>
    <ref name="lcMatchingItem"/>
  </define>
  <define name="lcMatchingHeader.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcMatchingHeader> element in an assessment interaction provides column headings for items to present in a matching table. -->
  <define name="lcMatchingHeader.element">
    <element name="lcMatchingHeader">
      <ref name="lcMatchingHeader.attlist"/>
      <ref name="lcMatchingHeader.content"/>
    </element>
  </define>
  <define name="lcMatchingHeader.attlist" combine="interleave">
    <ref name="lcMatchingHeader.attributes"/>
  </define>
  
  <define name="lcMatchingPair.content">
    <ref name="lcItem"/>
    <ref name="lcMatchingItem"/>
    <optional>
      <ref name="lcMatchingItemFeedback"/>
    </optional>
  </define>
  <define name="lcMatchingPair.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcMatchingPair> element in an assessment interaction provides a table row with the pair of items that comprise a correct match in a matching interaction. -->
  <define name="lcMatchingPair.element">
    <element name="lcMatchingPair">
      <ref name="lcMatchingPair.attlist"/>
      <ref name="lcMatchingPair.content"/>
    </element>
  </define>
  <define name="lcMatchingPair.attlist" combine="interleave">
    <ref name="lcMatchingPair.attributes"/>
  </define>
  
  <define name="lcItem.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcItem.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcItem> element in an assessment interaction provides the content for an item that matches the match item in a match table. -->
  <define name="lcItem.element">
    <element name="lcItem">
      <ref name="lcItem.attlist"/>
      <ref name="lcItem.content"/>
    </element>
  </define>
  <define name="lcItem.attlist" combine="interleave">
    <ref name="lcItem.attributes"/>
  </define>
  
  <define name="lcMatchingItem.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcMatchingItem.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcMatchingItem> element in an assessment interaction provides the content for the matching side of a matching pair of items in a match table interaction. -->
  <define name="lcMatchingItem.element">
    <element name="lcMatchingItem">
      <ref name="lcMatchingItem.attlist"/>
      <ref name="lcMatchingItem.content"/>
    </element>
  </define>
  <define name="lcMatchingItem.attlist" combine="interleave">
    <ref name="lcMatchingItem.attributes"/>
  </define>
  
  <define name="lcMatchingItemFeedback.content">
    <zeroOrMore>
      <choice>
        <ref name="lcFeedback"/>
        <ref name="lcFeedbackCorrect"/>
        <ref name="lcFeedbackIncorrect"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="lcMatchingItemFeedback.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="lcMatchingItemFeedback.element">
    <element name="lcMatchingItemFeedback">
      <ref name="lcMatchingItemFeedback.attlist"/>
      <ref name="lcMatchingItemFeedback.content"/>
    </element>
  </define>
  <define name="lcMatchingItemFeedback.attlist" combine="interleave">
    <ref name="lcMatchingItemFeedback.attributes"/>
  </define>
  
  <define name="lcHotspotMap.content">
    <ref name="image"/>
    <oneOrMore>
      <ref name="lcArea"/>
    </oneOrMore>
  </define>
  <define name="lcHotspotMap.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:A lcHotspotMap interaction lets you designate an action area or region over an image, allowing a click in that region to get scored as correct or incorrect in respoinse to an interaction question. -->
  <define name="lcHotspotMap.element">
    <element name="lcHotspotMap">
      <ref name="lcHotspotMap.attlist"/>
      <ref name="lcHotspotMap.content"/>
    </element>
  </define>
  <define name="lcHotspotMap.attlist" combine="interleave">
    <ref name="lcHotspotMap.attributes"/>
  </define>
  
  <define name="lcArea.content">
    <ref name="lcAreaShape"/>
    <ref name="lcAreaCoords"/>
    <optional>
      <ref name="xref"/>
    </optional>
    <optional>
      <ref name="lcCorrectResponse"/>
    </optional>
    <optional>
      <ref name="lcFeedback"/>
    </optional>
  </define>
  <define name="lcArea.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:A lcArea defines an area of a hotspot image that contains a correct or incorrect choice in a hotspot assessment interaction. -->
  <define name="lcArea.element">
    <element name="lcArea">
      <ref name="lcArea.attlist"/>
      <ref name="lcArea.content"/>
    </element>
  </define>
  <define name="lcArea.attlist" combine="interleave">
    <ref name="lcArea.attributes"/>
  </define>
  
  <!-- LONG NAME: Shape of the Hotspot -->
  <define name="lcAreaShape.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="lcAreaShape.attributes">
    <optional>
      <attribute name="keyref"/>
    </optional>
    <ref name="univ-atts-translate-no"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="lcAreaShape.element">
    <element name="lcAreaShape">
      <ref name="lcAreaShape.attlist"/>
      <ref name="lcAreaShape.content"/>
    </element>
  </define>
  <define name="lcAreaShape.attlist" combine="interleave">
    <ref name="lcAreaShape.attributes"/>
  </define>
  
  <!-- LONG NAME: Coordinates of the Hotspot -->
  <define name="lcAreaCoords.content">
    <zeroOrMore>
      <ref name="words.cnt"/>
    </zeroOrMore>
  </define>
  <define name="lcAreaCoords.attributes">
    <optional>
      <attribute name="keyref"/>
    </optional>
    <ref name="univ-atts-translate-no"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="lcAreaCoords.element">
    <element name="lcAreaCoords">
      <ref name="lcAreaCoords.attlist"/>
      <ref name="lcAreaCoords.content"/>
    </element>
  </define>
  <define name="lcAreaCoords.attlist" combine="interleave">
    <ref name="lcAreaCoords.attributes"/>
  </define>
  
  <!--
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    - CHOICE DEFINITIONS
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  -->
  <define name="lcCorrectResponse.content">
    <empty/>
  </define>
  <define name="lcCorrectResponse.attributes">
    <optional>
      <attribute name="name" a:defaultValue="lcCorrectResponse"/>
    </optional>
    <optional>
      <attribute name="value" a:defaultValue="lcCorrectResponse"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcCorrectResponse> element in an assessment interaction indicates a correct response. -->
  <define name="lcCorrectResponse.element">
    <element name="lcCorrectResponse">
      <ref name="lcCorrectResponse.attlist"/>
      <ref name="lcCorrectResponse.content"/>
    </element>
  </define>
  <define name="lcCorrectResponse.attlist" combine="interleave">
    <ref name="lcCorrectResponse.attributes"/>
  </define>
  
  <define name="lcSequence.content">
    <empty/>
  </define>
  <define name="lcSequence.attributes">
    <optional>
      <attribute name="name" a:defaultValue="lcSequence"/>
    </optional>
    <attribute name="value"/>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <lcSequence> element in an assessment interaction provides the position of a sequence option in a sequence. -->
  <define name="lcSequence.element">
    <element name="lcSequence">
      <ref name="lcSequence.attlist"/>
      <ref name="lcSequence.content"/>
    </element>
  </define>
  <define name="lcSequence.attlist" combine="interleave">
    <ref name="lcSequence.attributes"/>
  </define>
  
  
  <!-- Specialization attributes. Global attributes and class defaults -->
  <define name="lcInstructornote.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/note learningInteractionBase-d/note learning-d/lcInstructornote "/>
    </optional>
  </define>
  <define name="lcTrueFalse.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/lcInteractionBase learning-d/lcTrueFalse "/>
    </optional>
  </define>
  <define name="lcSingleSelect.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/lcInteractionBase learning-d/lcSingleSelect "/>
    </optional>
  </define>
  <define name="lcMultipleSelect.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/lcInteractionBase learning-d/lcMultipleSelect "/>
    </optional>
  </define>
  <define name="lcSequencing.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/lcInteractionBase learning-d/lcSequencing "/>
    </optional>
  </define>
  <define name="lcMatching.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/lcInteractionBase learning-d/lcMatching "/>
    </optional>
  </define>
  <define name="lcHotspot.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/lcInteractionBase learning-d/lcHotspot "/>
    </optional>
  </define>
  <define name="lcOpenQuestion.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/lcInteractionBase learning-d/lcOpenQuestion "/>
    </optional>
  </define>
  <define name="lcQuestion.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/p learningInteractionBase-d/lcQuestionBase learning-d/lcQuestion "/>
    </optional>
  </define>
  <define name="lcOpenAnswer.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/p learningInteractionBase-d/p learning-d/lcOpenAnswer "/>
    </optional>
  </define>
  <define name="lcAsset.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/p learningInteractionBase-d/p learning-d/lcAsset "/>
    </optional>
  </define>
  <define name="lcFeedback.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/p learningInteractionBase-d/p learning-d/lcFeedback "/>
    </optional>
  </define>
  <define name="lcFeedbackCorrect.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/p learningInteractionBase-d/p learning-d/lcFeedbackCorrect "/>
    </optional>
  </define>
  <define name="lcFeedbackIncorrect.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/p learningInteractionBase-d/p learning-d/lcFeedbackIncorrect "/>
    </optional>
  </define>
  <define name="lcAnswerOption.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/li learningInteractionBase-d/li learning-d/lcAnswerOption "/>
    </optional>
  </define>
  <define name="lcAnswerOptionGroup.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ul learningInteractionBase-d/ul learning-d/lcAnswerOptionGroup "/>
    </optional>
  </define>
  <define name="lcAnswerContent.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/p learningInteractionBase-d/p learning-d/lcAnswerContent "/>
    </optional>
  </define>
  <define name="lcMatchTable.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/simpletable learningInteractionBase-d/simpletable learning-d/lcMatchTable "/>
    </optional>
  </define>
  <define name="lcMatchingHeader.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/sthead learningInteractionBase-d/sthead learning-d/lcMatchingHeader "/>
    </optional>
  </define>
  <define name="lcMatchingPair.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/strow learningInteractionBase-d/strow learning-d/lcMatchingPair "/>
    </optional>
  </define>
  <define name="lcItem.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/stentry learningInteractionBase-d/stentry learning-d/lcItem "/>
    </optional>
  </define>
  <define name="lcMatchingItem.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/stentry learningInteractionBase-d/stentry learning-d/lcMatchingItem "/>
    </optional>
  </define>
  <define name="lcMatchingItemFeedback.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/stentry learningInteractionBase-d/stentry learning-d/lcMatchingItemFeedback "/>
    </optional>
  </define>
  <define name="lcSequenceOptionGroup.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ol learningInteractionBase-d/ol learning-d/lcSequenceOptionGroup "/>
    </optional>
  </define>
  <define name="lcSequenceOption.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/li learningInteractionBase-d/li learning-d/lcSequenceOption "/>
    </optional>
  </define>
  <define name="lcSequence.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/data learningInteractionBase-d/data learning-d/lcSequence "/>
    </optional>
  </define>
  <define name="lcCorrectResponse.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/data learningInteractionBase-d/data learning-d/lcCorrectResponse "/>
    </optional>
  </define>
  <define name="lcHotspotMap.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/figgroup learning-d/lcHotspotMap "/>
    </optional>
  </define>
  <define name="lcArea.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/figgroup learningInteractionBase-d/figgroup learning-d/lcArea "/>
    </optional>
  </define>
  <define name="lcAreaShape.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/keyword learningInteractionBase-d/keyword learning-d/lcAreaShape "/>
    </optional>
  </define>
  <define name="lcAreaCoords.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph learningInteractionBase-d/ph learning-d/lcAreaCoords "/>
    </optional>
  </define>
</grammar>
