example-data/oxygen-frameworks/dita/DITA-OT2.x/plugins/org.dita-ng.doctypes/rng/base/rng/mapGroup.mod.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= 
     MODULE:    DITA Map Group Domain - RNG              
     VERSION:   1.2                                                
     DATE:      October 2010                                       
     ============================================================= -->
<!--
     Refer to the latest version of this file by the following URI:
     urn:dita-ng:dita:rng:mapGroup.mod.rng
     To refer to this specific version, you may use this value:
     urn:dita-ng:dita:rng:mapGroup.mod.rng:1.2
-->
<!-- ============================================================= 
     SYSTEM:     Darwin Information Typing Architecture (DITA)     
     PURPOSE:    Define elements and specialization attributes
                 for Map Group Domain             
     ORIGINAL CREATION DATE:  
     September 2010                                                
     (C) Copyright Syncro Soft 2010-2011                                
     All Rights Reserved.                                          
     ============================================================= -->

<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" 
  xmlns="http://relaxng.org/ns/structure/1.0" 
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <!-- Define the domain values of this module -->
  <define name="domains-atts-value" combine="choice">
    <value>(map mapgroup-d)</value>
  </define>
  
  <!-- Define domain extension patterns -->
  <define name="mapgroup-d-topicref">
    <choice>
      <ref name="anchorref.element"/>
      <ref name="keydef.element"/>
      <ref name="mapref.element"/>
      <ref name="topicgroup.element"/>
      <ref name="topichead.element"/>
      <ref name="topicset.element"/>
      <ref name="topicsetref.element"/>
    </choice>
  </define>
  <!-- Extend the patterns with the domain contribution -->
  <define name="topicref" combine="choice">
    <ref name="mapgroup-d-topicref"/>
  </define>
  
  
  <!-- Define elements content and attributes -->
  
  <!-- LONG NAME: Topic Head -->
  <define name="topichead.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="anchor"/>
        <ref name="data.elements.incl"/>
        <ref name="navref"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="topichead.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="copy-to"/>
    </optional>
    <ref name="topicref-atts"/>
    <ref name="univ-atts"/>
  </define>
  <define name="topichead.element">
    <element name="topichead">
      <a:documentation>The &lt;topichead> element provides a title-only entry in a navigation map,
        as an alternative to the fully-linked title provided by the &lt;topicref> element. 
        Category: Mapgroup elements</a:documentation>
      <ref name="topichead.attlist"/>
      <ref name="topichead.content"/>
    </element>
  </define>
  <define name="topichead.attlist" combine="interleave">
    <ref name="topichead.attributes"/>
  </define>
  
  <!-- LONG NAME: Topic Group -->
  <define name="topicgroup.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="anchor"/>
        <ref name="data.elements.incl"/>
        <ref name="navref"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="topicgroup.attributes">
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <ref name="topicref-atts"/>
    <ref name="univ-atts"/>
  </define>
  <define name="topicgroup.element">
    <element name="topicgroup">
      <a:documentation>The &lt;topicgroup> element is for creating groups of &lt;topicref> elements
        without affecting the hierarchy, as opposed to nested &lt; topicref> elements within a
        &lt;topicref>, which does imply a structural hierarchy. It is typically used outside a
        hierarchy to identify groups for linking without affecting the resulting toc/navigation
        output. 
        Category: Mapgroup elements</a:documentation>
      <ref name="topicgroup.attlist"/>
      <ref name="topicgroup.content"/>
    </element>
  </define>
  <define name="topicgroup.attlist" combine="interleave">
    <ref name="topicgroup.attributes"/>
  </define>
  
  <!-- LONG NAME: Anchor Reference -->
  <define name="anchorref.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="anchorref.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="copy-to"/>
    </optional>
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>family</value>
          <value>sequence</value>
          <value>unordered</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="processing-role">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type" a:defaultValue="anchor"/>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="locktitle">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="ditamap"/>
    </optional>
    <optional>
      <attribute name="linking">
        <choice>
          <value>none</value>
          <value>normal</value>
          <value>sourceonly</value>
          <value>targetonly</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="toc">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="print">
        <choice>
          <value>no</value>
          <value>printonly</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="search">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="chunk" a:defaultValue="to-navigation"/>
    </optional>
    <ref name="univ-atts"/>
  </define>
  <define name="anchorref.element">
    <element name="anchorref">
      <a:documentation>The contents of an &lt;anchorref> element are rendered both in the original
        authored location and at the location of the referenced &lt;anchor> element. The referenced
        &lt;anchor> element can be defined in the current map or another map.</a:documentation>
      <ref name="anchorref.attlist"/>
      <ref name="anchorref.content"/>
    </element>
  </define>
  <define name="anchorref.attlist" combine="interleave">
    <ref name="anchorref.attributes"/>
  </define>

  <!-- LONG NAME: Map Reference -->
  <define name="mapref.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <ref name="data.elements.incl"/>
    </zeroOrMore>
  </define>
  <define name="mapref.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="copy-to"/>
    </optional>
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="ditamap"/>
    </optional>
    <ref name="topicref-atts-without-format"/>
    <ref name="univ-atts"/>
  </define>
  <define name="mapref.element">
    <element name="mapref">
      <a:documentation>The &lt;mapref> element is a convenience element that has the same meaning as
        a &lt;topicref> element that explicitly sets the format attribute to &#34;ditamap&#34;. The
        hierarchy of the referenced map is merged into the container map at the position of the
        reference, and the relationship tables of the child map are added to the parent
        map.</a:documentation>
      <ref name="mapref.attlist"/>
      <ref name="mapref.content"/>
    </element>
  </define>
  <define name="mapref.attlist" combine="interleave">
    <ref name="mapref.attributes"/>
  </define>

  <!-- LONG NAME: Topicset -->
  <define name="topicset.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="anchor"/>
        <ref name="data.elements.incl"/>
        <ref name="navref"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="topicset.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="copy-to"/>
    </optional>
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>family</value>
          <value>sequence</value>
          <value>unordered</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="processing-role">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="locktitle">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="format"/>
    </optional>
    <optional>
      <attribute name="linking">
        <choice>
          <value>none</value>
          <value>normal</value>
          <value>sourceonly</value>
          <value>targetonly</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="toc">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="print">
        <choice>
          <value>no</value>
          <value>printonly</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="search">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="chunk" a:defaultValue="to-navigation"/>
    </optional>
    <attribute name="id">
      <data type="NMTOKEN"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
  </define>
  <define name="topicset.element">
    <element name="topicset">
      <a:documentation>The &lt;topicset> element defines a complete unit of content that can be
        reused in other DITA maps or other &lt;topicset> elements. The &lt;topicset> element can be
        especially useful for task composition in which larger tasks that are composed indefinitely
        of smaller tasks. The id attribute on a &lt;topicset> is required, which ensures that the
        complete unit is available for reuse in other contexts.</a:documentation>
      <ref name="topicset.attlist"/>
      <ref name="topicset.content"/>
    </element>
  </define>
  <define name="topicset.attlist" combine="interleave">
    <ref name="topicset.attributes"/>
  </define>

  <!-- LONG NAME: Topicset Reference -->
  <define name="topicsetref.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="topicsetref.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="copy-to"/>
    </optional>
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>family</value>
          <value>sequence</value>
          <value>unordered</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="processing-role">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type" a:defaultValue="topicset"/>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="locktitle">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="ditamap"/>
    </optional>
    <optional>
      <attribute name="linking">
        <choice>
          <value>none</value>
          <value>normal</value>
          <value>sourceonly</value>
          <value>targetonly</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="toc">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="print">
        <choice>
          <value>no</value>
          <value>printonly</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="search">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="chunk"/>
    </optional>
    <ref name="univ-atts"/>
  </define>
  <define name="topicsetref.element">
    <element name="topicsetref">
      <a:documentation>The &lt;topicsetref> element references a &lt;topicset> element. The
        referenced &lt;topicset> element can be defined in the current map or in another
        map.</a:documentation>
      <ref name="topicsetref.attlist"/>
      <ref name="topicsetref.content"/>
    </element>
  </define>
  <define name="topicsetref.attlist" combine="interleave">
    <ref name="topicsetref.attributes"/>
  </define>

  <!-- LONG NAME: Key Definition -->
  <define name="keydef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="anchor"/>
        <ref name="data.elements.incl"/>
        <ref name="navref"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="keydef.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <attribute name="keys"/>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="copy-to"/>
    </optional>
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>family</value>
          <value>sequence</value>
          <value>unordered</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="processing-role" a:defaultValue="resource-only">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="locktitle">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="format"/>
    </optional>
    <optional>
      <attribute name="linking">
        <choice>
          <value>none</value>
          <value>normal</value>
          <value>sourceonly</value>
          <value>targetonly</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="toc">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="print">
        <choice>
          <value>no</value>
          <value>printonly</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="search">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="chunk"/>
    </optional>
    <ref name="univ-atts"/>
  </define>
  <define name="keydef.element">
    <element name="keydef">
      <a:documentation>The &lt;keydef> element is a convenience element that is used to define keys
        without any of the other effects that occur when using a &lt;topicref> element: no content
        is included in output, no title is included in the table of contents, and no linking or
        other relationships are defined. The &lt;keydef> element is not the only way to define keys;
        its purpose is to simplify the process by defaulting several attributes to achieve the
        described behaviors.</a:documentation>
      <ref name="keydef.attlist"/>
      <ref name="keydef.content"/>
    </element>
  </define>
  <define name="keydef.attlist" combine="interleave">
    <ref name="keydef.attributes"/>
  </define>
  
  <!-- Specialization attributes. Global attributes and class defaults -->
  
  <define name="anchorref.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/anchorref "/>
    </optional>
  </define>
  <define name="keydef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/keydef "/>
    </optional>
  </define>
  <define name="mapref.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/mapref "/>
    </optional>
  </define>
  <define name="topicgroup.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/topicgroup "/>
    </optional>
  </define>
  <define name="topichead.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/topichead "/>
    </optional>
  </define>
  <define name="topicset.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/topicset "/>
    </optional>
  </define>
  <define name="topicsetref.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/topicsetref "/>
    </optional>
  </define>
</grammar>
<!-- ================== DITA Map Group Domain  =================== -->
