example-data/oxygen-frameworks/tei/xml/tei/schema/relaxng/analysis.rnc

namespace ns1 = "http://purl.oclc.org/dsdl/schematron"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace tei = "http://www.tei-c.org/ns/1.0"
namespace teix = "http://www.tei-c.org/ns/Examples"

# Schema generated 2017-07-10T17:55:54Z
# Edition: Version 3.2.0. Last updated on
#	10th July 2017, revision 0fcf651
# This material is dual-licensed.
# [http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2017 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium. Simple analytic mechanisms

# Definitions from module analysis

# Set global predeclared macros

# Set predeclared macros

# 0. predeclared macros

# 1. classes
att.global.analytic.attributes = att.global.analytic.attribute.ana
att.global.analytic.attribute.ana =
  
  ## (analysis) indicates one or more elements containing interpretations of the element on which the ana attribute appears.
  attribute ana {
    list { xsd:anyURI+ }
  }?
# 2. elements
c =
  
  ## (character) represents a character. []
  element c { c.content, c.localattributes }
c.content = macro.xtext
c.localattributes =
  att.global.attributes,
  att.segLike.attributes,
  att.typed.attributes,
  empty
cl =
  
  ## (clause) represents a grammatical clause. []
  element cl { cl.content, cl.localattributes }
cl.content = macro.phraseSeq
cl.localattributes =
  att.global.attributes,
  att.segLike.attributes,
  att.typed.attributes,
  empty
interp =
  
  ## (interpretation) summarizes a specific interpretative annotation which can be linked to a span of text. []
  element interp { interp.content, interp.localattributes }
interp.content = (text | model.gLike | model.descLike | model.certLike)*
interp.localattributes =
  att.global.attributes, att.interpLike.attributes, empty
interpGrp =
  
  ## (interpretation group) collects together a set of related interpretations which share responsibility or type. []
  element interpGrp { interpGrp.content, interpGrp.localattributes }
interpGrp.content = model.descLike*, interp+
interpGrp.localattributes =
  att.global.attributes, att.interpLike.attributes, empty
m =
  
  ## (morpheme) represents a grammatical morpheme. []
  element m { m.content, m.localattributes }
m.content =
  (text | model.gLike | model.hiLike | seg | m | c | model.global)*
m.localattributes =
  att.global.attributes,
  att.segLike.attributes,
  att.typed.attributes,
  
  ## supplies the morpheme's base form.
  attribute baseForm {
    xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
  }?,
  empty
pc =
  
  ## (punctuation character) contains a character or string of characters regarded as constituting a single punctuation mark. []
  element pc { pc.content, pc.localattributes }
pc.content = (text | model.gLike | c | model.pPart.edit)*
pc.localattributes =
  att.global.attributes,
  att.segLike.attributes,
  att.typed.attributes,
  
  ## indicates the extent to which this punctuation mark conventionally separates words or phrases
  attribute force {
    
    ## the punctuation mark is a word separator
    "strong"
    | 
      ## the punctuation mark is not a word separator
      "weak"
    | 
      ## the punctuation mark may or may not be a word separator
      "inter"
  }?,
  
  ## provides a name for the kind of unit delimited by this punctuation mark.
  attribute unit {
    xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
  }?,
  
  ## indicates whether this punctuation mark precedes or follows the unit it delimits.
  attribute pre { xsd:boolean }?,
  empty
phr =
  
  ## (phrase) represents a grammatical phrase. []
  element phr { phr.content, phr.localattributes }
phr.content = macro.phraseSeq
phr.localattributes =
  att.global.attributes,
  att.segLike.attributes,
  att.typed.attributes,
  empty
s =
  
  ## (s-unit) contains a sentence-like division of a text. [ ]
  element s { s.content, s.localattributes }
s.content =
  macro.phraseSeq
  >> ns1:pattern [
       id = "s-noNestedS-constraint-report-22"
       "\x{a}" ~
       "         "
       ns1:rule [
         context = "tei:s"
         "\x{a}" ~
         "            "
         ns1:report [
           test = "tei:s"
           "You may not nest one s element within\x{a}" ~
           "      another: use seg instead"
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
s.localattributes =
  att.global.attributes,
  att.segLike.attributes,
  att.typed.attributes,
  empty
span =
  
  ## associates an interpretative annotation directly with a span of text. []
  element span { span.content, span.localattributes }
span.content =
  macro.phraseSeq.limited
  >> ns1:pattern [
       id = "span-targetfrom-constraint-report-23"
       "\x{a}" ~
       "         "
       ns1:rule [
         context = "tei:span"
         "\x{a}" ~
         "            "
         ns1:report [
           test = "@from and @target"
           "\x{a}" ~
           "Only one of the attributes @target and @from may be supplied on "
           ns1:name [ ]
           "\x{a}" ~
           "            "
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
  >> ns1:pattern [
       id = "span-targetto-constraint-report-24"
       "\x{a}" ~
       "         "
       ns1:rule [
         context = "tei:span"
         "\x{a}" ~
         "            "
         ns1:report [
           test = "@to and @target"
           "\x{a}" ~
           "Only one of the attributes @target and @to may be supplied on "
           ns1:name [ ]
           "\x{a}" ~
           "            "
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
  >> ns1:pattern [
       id = "span-tonotfrom-constraint-report-25"
       "\x{a}" ~
       "         "
       ns1:rule [
         context = "tei:span"
         "\x{a}" ~
         "            "
         ns1:report [
           test = "@to and not(@from)"
           "\x{a}" ~
           "If @to is supplied on "
           ns1:name [ ]
           ", @from must be supplied as well"
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
  >> ns1:pattern [
       id = "span-tofrom-constraint-report-26"
       "\x{a}" ~
       "         "
       ns1:rule [
         context = "tei:span"
         "\x{a}" ~
         "            "
         ns1:report [
           test =
             "contains(normalize-space(@to),' ') or contains(normalize-space(@from),' ')"
           "\x{a}" ~
           "The attributes @to and @from on "
           ns1:name [ ]
           " may each contain only a single value"
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
span.localattributes =
  att.global.attributes,
  att.interpLike.attributes,
  att.pointing.attributes,
  
  ## gives the identifier of the node which is the starting point of the span of text being annotated; if not accompanied by a to attribute, gives the identifier of the node of the entire span of text being annotated.
  attribute from { xsd:anyURI }?,
  
  ## gives the identifier of the node which is the end-point of the span of text being annotated.
  attribute to { xsd:anyURI }?,
  empty
spanGrp =
  
  ## (span group) collects together span tags. []
  element spanGrp { spanGrp.content, spanGrp.localattributes }
spanGrp.content = span*
spanGrp.localattributes =
  att.global.attributes, att.interpLike.attributes, empty
w =
  
  ## (word) represents a grammatical (not necessarily orthographic) word. []
  element w { w.content, w.localattributes }
w.content =
  (text
   | model.gLike
   | seg
   | w
   | m
   | c
   | pc
   | model.global
   | model.lPart
   | model.hiLike
   | model.pPart.edit)*
w.localattributes =
  att.global.attributes,
  att.segLike.attributes,
  att.typed.attributes,
  
  ## provides a lemma for the word, such as an uninflected dictionary entry form.
  attribute lemma { xsd:string }?,
  
  ## provides a pointer to a definition of the lemma for the word, for example in an online lexicon.
  attribute lemmaRef { xsd:anyURI }?,
  empty
# 3. macros
