example-data/oxygen-frameworks/dita/DITA-OT2.x/plugins/org.dita-ng.doctypes/rng/subjectScheme/rng/classifyDomain.mod.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= 
  MODULE:    DITA Subject Classification Domain - RNG              
  VERSION:   1.2                                                
  DATE:      November 2010                                       
  ============================================================= -->
<!--
  Refer to the latest version of this file by the following URI:
  urn:dita-ng:dita:rng:classifyDomain.mod.rng
  To refer to this specific version, you may use this value:
  urn:dita-ng:dita:rng:classifyDomain.mod.rng:1.2
-->
<!-- ============================================================= 
  SYSTEM:     Darwin Information Typing Architecture (DITA)     
  PURPOSE:    Define elements and specialization attributes for 
              Map Subject Classification Domain
  ORIGINAL CREATION DATE:  
  September 2010                                                
  (C) Copyright Syncro Soft 2010-2011                                
  All Rights Reserved.                                          
  ============================================================= -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  
  <!-- Define the domain values of this module -->
  <define name="domains-atts-value" combine="choice">
    <value>(map classify-d)</value>
  </define>
  
  
  <define name="classify-d-topicref">
    <choice>
      <ref name="topicsubject.element"/>
      <ref name="topicapply.element"/>
    </choice>
  </define>
  <define name="topicref" combine="choice">
    <ref name="classify-d-topicref"/>
  </define>
  
  <define name="classify-d-reltable">
    <ref name="topicSubjectTable.element"/>
  </define>
  <define name="reltable" combine="choice">
    <ref name="classify-d-reltable"/>
  </define>
  
  <!-- Define patterns -->
  <define name="subjectref">
    <ref name="subjectref.element"/>
  </define>
  <define name="topicSubjectHeader">
    <ref name="topicSubjectHeader.element"/>
  </define>
  <define name="topicSubjectRow">
    <ref name="topicSubjectRow.element"/>
  </define>
  <define name="topicCell">
    <ref name="topicCell.element"/>
  </define>
  <define name="subjectCell">
    <ref name="subjectCell.element"/>
  </define>

  <!-- ELEMENT DECLARATIONS -->

  <!-- LONG NAME: Topic Subject -->
  <!-- SKOS equivalent:  primary if href or keyref are specified -->
  <define name="topicsubject.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="subjectref"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="topicsubject.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="processing-role" a:defaultValue="resource-only">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="format"/>
    </optional>
    <optional>
      <attribute name="toc" a:defaultValue="no">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <ref name="univ-atts"/>
  </define>
  <!-- doc:The <topicsubject> element identifies the subjects for which the topic or collection of topics provides the authoritative treatment. The subjects can be identified by keys (if defined in the scheme) or, if the subject definition topic exists, by href (as with ordinary topic references). Additional secondary subjects can be specified by nested <subjectref> elements. -->
  <define name="topicsubject.element">
    <element name="topicsubject">
      <ref name="topicsubject.attlist"/>
      <ref name="topicsubject.content"/>
    </element>
  </define>
  <define name="topicsubject.attlist" combine="interleave">
    <ref name="topicsubject.attributes"/>
  </define>
 
  <!-- LONG NAME: Topic Apply -->
  <define name="topicapply.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="subjectref"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="topicapply.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>family</value>
          <value>sequence</value>
          <value>unordered</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="processing-role" a:defaultValue="resource-only">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="format"/>
    </optional>
    <optional>
      <attribute name="linking">
        <choice>
          <value>none</value>
          <value>normal</value>
          <value>sourceonly</value>
          <value>targetonly</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="toc" a:defaultValue="no">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <ref name="univ-atts"/>
  </define>
  <!-- doc:The <topicapply> element identifies subjects that qualify the content for filtering or flagging but not retrieval. The <topicapply> element can identify a single subject. Additional subjects can be specified by nested <subjectref> elements. -->
  <define name="topicapply.element">
    <element name="topicapply">
      <ref name="topicapply.attlist"/>
      <ref name="topicapply.content"/>
    </element>
  </define>
  <define name="topicapply.attlist" combine="interleave">
    <ref name="topicapply.attributes"/>
  </define>

  <!-- LONG NAME: Subject Reference -->
  <define name="subjectref.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <ref name="data.elements.incl"/>
    </zeroOrMore>
  </define>
  <define name="subjectref.attributes">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>family</value>
          <value>sequence</value>
          <value>unordered</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="processing-role" a:defaultValue="resource-only">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="format"/>
    </optional>
    <optional>
      <attribute name="linking">
        <choice>
          <value>none</value>
          <value>normal</value>
          <value>sourceonly</value>
          <value>targetonly</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="toc" a:defaultValue="no">
        <choice>
          <value>no</value>
          <value>yes</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <ref name="univ-atts"/>
  </define>
  <!-- doc:The <subjectref> element identifies a subject to classify content. The <subjectref> can identify the subject with a keyref attribute (if the scheme has a <subjectdef> with a keys attribute that assigns a key to the subject) or an href attribute (if a topic captures the consensus definition for the subject). -->
  <define name="subjectref.element">
    <element name="subjectref">
      <ref name="subjectref.attlist"/>
      <ref name="subjectref.content"/>
    </element>
  </define>
  <define name="subjectref.attlist" combine="interleave">
    <ref name="subjectref.attributes"/>
  </define>

  <!-- LONG NAME: Topic Subject Relationship Table -->
  <define name="topicSubjectTable.content">
    <ref name="title"/>
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <optional>
      <ref name="topicSubjectHeader"/>
    </optional>
    <oneOrMore>
      <ref name="topicSubjectRow"/>
    </oneOrMore>
  </define>
  <define name="topicSubjectTable.attributes">
    <ref name="topicref-atts-no-toc"/>
    <ref name="univ-atts"/>
  </define>
  <!-- doc:The <topicSubjectTable> element is a specialized relationship table which allows a map to use relationship tables to associate topics with subjects. In a <topicSubjectTable>, the first column is reserved for references to content. Subsequent columns are reserved for subjects that classify the content, each column supplying the subjects for a different category as identified in the header. The table resembles a traditional relationship table in which the first column identifies the source and the other columns identify the targets, but the relationship reflects the subjects covered by the content rather than linking between documents. -->
  <define name="topicSubjectTable.element">
    <element name="topicSubjectTable">
      <ref name="topicSubjectTable.attlist"/>
      <ref name="topicSubjectTable.content"/>
    </element>
  </define>
  <define name="topicSubjectTable.attlist" combine="interleave">
    <ref name="topicSubjectTable.attributes"/>
  </define>
 
  <!-- LONG NAME: Topic Subject Table Header -->
  <!--
    The header defines the set of subjects for each column.
    By default, the subject in the header cell must be a broader ancestor
        within a scheme available during processing for the subjects
        in the same column of other rows
    In the header, the topicCell serves primarily as a placeholder
        for the topic column but could also provide some constraints
        or metadata for the topics
  -->
  <define name="topicSubjectHeader.content">
    <ref name="topicCell"/>
    <oneOrMore>
      <ref name="subjectCell"/>
    </oneOrMore>
  </define>
  <define name="topicSubjectHeader.attributes">
    <ref name="univ-atts"/>
  </define>
  <!-- doc:The <topicSubjectHeader> element specifies constraints on the subjects used in classifications. -->
  <define name="topicSubjectHeader.element">
    <element name="topicSubjectHeader">
      <ref name="topicSubjectHeader.attlist"/>
      <ref name="topicSubjectHeader.content"/>
    </element>
  </define>
  <define name="topicSubjectHeader.attlist" combine="interleave">
    <ref name="topicSubjectHeader.attributes"/>
  </define>
 
  <!-- LONG NAME: Topic Subject Table Row -->
  <define name="topicSubjectRow.content">
    <ref name="topicCell"/>
    <oneOrMore>
      <ref name="subjectCell"/>
    </oneOrMore>
  </define>
  <define name="topicSubjectRow.attributes">
    <ref name="univ-atts"/>
  </define>
  <!-- doc:The <topicSubjectRow> is a grouping element that contains one row of a subject table. It contains topic references in the first column, and relates those references to the subjects in each following column. -->
  <define name="topicSubjectRow.element">
    <element name="topicSubjectRow">
      <ref name="topicSubjectRow.attlist"/>
      <ref name="topicSubjectRow.content"/>
    </element>
  </define>
  <define name="topicSubjectRow.attlist" combine="interleave">
    <ref name="topicSubjectRow.attributes"/>
  </define>
 
  <!-- LONG NAME: Topic Subject Table Cell -->
  <define name="topicCell.content">
    <oneOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="topicref"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="topicCell.attributes">
    <ref name="univ-atts"/>
    <ref name="topicref-atts"/>
  </define>
  <!-- doc:The <topicCell> element contains topics that will be associated with subjects in each following column of the current row in the <topicSubjectTable>. -->
  <define name="topicCell.element">
    <element name="topicCell">
      <ref name="topicCell.attlist"/>
      <ref name="topicCell.content"/>
    </element>
  </define>
  <define name="topicCell.attlist" combine="interleave">
    <ref name="topicCell.attributes"/>
  </define>
  
  <!-- LONG NAME: Topic Subject Cell -->
  <define name="subjectCell.content">
    <zeroOrMore>
      <choice>
        <ref name="data.elements.incl"/>
        <ref name="subjectref"/>
        <ref name="topicref"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="subjectCell.attributes">
    <ref name="univ-atts"/>
    <ref name="topicref-atts"/>
  </define>
  <!-- doc:The <subjectCell> element contains subjects that are associated with topics in the first column of the current row in the <topicSubjectTable>. The subjects themselves have no defined relationship across columns, other than the fact that they apply to the same content. -->
  <define name="subjectCell.element">
    <element name="subjectCell">
      <ref name="subjectCell.attlist"/>
      <ref name="subjectCell.content"/>
    </element>
  </define>
  <define name="subjectCell.attlist" combine="interleave">
    <ref name="subjectCell.attributes"/>
  </define>
  
  <!-- SPECIALIZATION ATTRIBUTE DECLARATIONS -->
  
  <define name="topicsubject.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref classify-d/topicsubject "/>
    </optional>
  </define>
  <define name="topicapply.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref classify-d/topicapply "/>
    </optional>
  </define>
  <define name="subjectref.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref classify-d/subjectref "/>
    </optional>
  </define>
  <define name="topicSubjectTable.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/reltable classify-d/topicSubjectTable "/>
    </optional>
  </define>
  <define name="topicSubjectHeader.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/relrow classify-d/topicSubjectHeader "/>
    </optional>
  </define>
  <define name="topicSubjectRow.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/relrow classify-d/topicSubjectRow "/>
    </optional>
  </define>
  <define name="topicCell.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/relcell classify-d/topicCell "/>
    </optional>
  </define>
  <define name="subjectCell.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/relcell classify-d/subjectCell "/>
    </optional>
  </define>
</grammar>
