example-data/oxygen-frameworks/stratml/part2/xsd/PerformancePlanOrReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--  
Schema agency: ANSI AIIM
Schema version: 2.1
Schema date: December 15, 2010
    
Disclaimer: 	This document and the information contained herein is provided on an "as is" basis and AIIM disclaims all warranties, express 
					or implied, including but not limited to any warranty that the use of the information herein will not infringe any rights or any 
					rights or any implied warranties of merchantability or fitness for a particular purpose. 
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.stratml.net/PerformancePlanOrReport" xmlns:stratml="http://www.stratml.net/PerformancePlanOrReport" targetNamespace="http://www.stratml.net/PerformancePlanOrReport" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.2010-12-15">
	<!--Root Element-->
	<xsd:element name="PerformancePlanOrReport" id="uuid-91D3FADB-E6CF-45a0-9676-34E1DBCFE10C">
		<xsd:annotation>
			<xsd:documentation>A document identifying inputs and processes required to accomplish objectives and establishing metrics by which progress will be assessed within a single budgetary planning and resource allocation cycle.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name" id="uuid-B1A2B247-56EF-4d0a-9A68-4AD35ED5DC1E"/>
				<xsd:element ref="Description" id="uuid-C1032E04-FA64-4810-9C84-8D49216BDFEE" minOccurs="0"/>
				<xsd:element ref="OtherInformation" id="uuid-C800A4FC-A36D-45d5-B862-70FBF6628156" minOccurs="0"/>
				<xsd:element ref="StrategicPlanCore" id="uuid-41F187FB-AA55-491b-8B0E-65B14A57A4C8"/>
				<xsd:element ref="AdministrativeInformation" id="uuid-29939A46-15F9-45a1-B865-D62FEEE9AB8C" minOccurs="0"/>
				<xsd:element ref="Submitter" id="uuid-4147E26D-BB81-495f-921E-1D63EBE45A62" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required" id="uuid-F64605F4-D372-487C-9C5D-D68F1031BA86">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Strategic_Plan"/>
						<xsd:enumeration value="Performance_Plan"/>
						<xsd:enumeration value="Performance_Report"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!--Elements A - Z-->
	<xsd:element name="Acronym" type="xsd:string" id="uuid-a21e6dc4-b67c-4120-b881-ce72882fc958">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">An abbreviation of a proper name usually composed of the first letters of each word in the name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActualResult" id="uuid-576F1BF5-C7E4-4ad5-88E9-2781C538F8D4">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A measurable result achieved on or before a specified date.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Description"/>
				<xsd:element ref="NumberOfUnits" id="uuid-9595F589-38BF-4bfe-81A6-43D9DAA36700" minOccurs="0"/>
				<xsd:element ref="StartDate" minOccurs="0"/>
				<xsd:element ref="EndDate" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdministrativeInformation" type="AdministrativeInformationType" id="uuid-9d240214-9768-4dd9-b98a-c62448b63f26">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">Useful information that is not essential and thus not part of the core of the plans or reports.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Description" type="xsd:string" id="uuid-6289635d-98a7-40bd-978c-37ae6ede5f7e">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A sentence or short paragraph defining and explaining a concept.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmailAddress" type="xsd:string" id="uuid-412bb450-d116-4dec-9269-a92209232df1">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The Email address of the person submitting the plan or report.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndDate" type="xsd:date" id="uuid-19977fd4-556d-41bc-be29-477e05e4c971">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The year, month, and day the element with which it is associated is projected to cease, if it is not subsequently extended. Typically the end of a calendar or fiscal year.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirstName" type="xsd:string" id="uuid-a8c3e55c-96f2-404a-97b5-16022d9369ac">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The first name of the person submitting the plan or report.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Goal" id="uuid-1e56b2c9-c6d6-4f79-8ad7-cdb1508a9614">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A relatively broad statement of intended results to be achieved over more than one resource allocation and performance measurement cycle.</xsd:documentation>
			<xsd:documentation source="documentation" xml:lang="EN">Supports Mission</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="GoalType">
					<xsd:sequence>
						<xsd:element ref="Objective" id="uuid-28866F8C-AE8F-43a1-8E3D-D146280CE3F2" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Identifier" type="xsd:ID" id="uuid-a9cee972-59f3-42a9-8876-03bd0166689c">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A string of alphanumeric characters by which the information contained within an element is distinguished from other versions of the same information as well as information contained in other instances of the same element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastName" type="xsd:string" id="uuid-d48842b4-9324-4f71-9502-1a991b707b38">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The last name of the person submitting the plan or report.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurementDimension" type="xsd:string" id="uuid-A81AF0C9-7900-44dd-9E2C-77F601EB13D2">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The aspect of reality to be measured.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurementInstance" id="uuid-CA989313-6D91-46AC-926B-0805B331882B">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A measurement at a point in time.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TargetResult" id="uuid-BDE57259-F01C-4aac-BB59-71A0101324E6" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ActualResult" id="uuid-B52A1491-AC8D-4548-A1A4-628342FA525A" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Mission" id="uuid-755706ea-40d6-40f0-a8e5-998b91390620">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A brief description of the basic purpose of the organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Description" id="uuid-d4000d59-fc40-4f93-bbae-f92de9808818" minOccurs="0"/>
				<xsd:element ref="Identifier" id="uuid-e8484845-ea0e-47f3-8fe2-55b54db21202" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string" id="uuid-f6300ca4-40bc-455c-a963-dfef45f558d3">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A word or short phrase intended to identify a concept within the context in which is it being applied.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NumberOfUnits" type="xsd:decimal" id="uuid-41DEC7F0-F974-4903-B535-B219F2EB284A">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A numeric value (number) associated with a type of measurement.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Objective" type="ObjectiveType" id="uuid-AA88DC79-BC74-4a7c-97BD-37EDD048D14C">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A target level of results against which achievement is to be measured within a single resource allocation and performance execution cycle.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Organization" id="uuid-9d589d53-ec24-4c18-b5db-5be8075c1be5">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The legal or logical entity to which the plan or report applies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name" id="uuid-e871651e-e943-4414-b0b6-eb1f5754f3be" minOccurs="0"/>
				<xsd:element ref="Acronym" id="uuid-eb510ea2-9d70-40ec-95f1-abdf6644e002" minOccurs="0"/>
				<xsd:element ref="Identifier" id="uuid-d5b4b082-8326-46a8-a475-533813a4ed29" minOccurs="0"/>
				<xsd:element ref="Description" id="uuid-2741f038-8123-4644-a649-dcf19a773673" minOccurs="0"/>
				<xsd:element ref="Stakeholder" id="uuid-d9bccbbf-67ae-402c-8914-56d12c1a7190" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OtherInformation" type="xsd:string" id="uuid-2cfca418-05c2-4fa1-b233-d1bd60d0d86a">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">Additional explanation or guidance that is not expressly addressed in other elements of the schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PerformanceIndicator" id="uuid-5E26BC7A-7340-48ce-A11E-D3B566026C49">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A measurement dimension, unit of measurement, and measurement instance specifying target and actual results, e.g., of inputs applied, outputs produced, processes conducted, and outcomes realized.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SequenceIndicator" id="uuid-49339C06-33C8-4e80-8FFE-B1BF1668EE5D" minOccurs="0"/>
				<xsd:element ref="MeasurementDimension" id="uuid-17139C06-33C8-4e80-8FFE-B1BF1668ED4C"/>
				<xsd:element ref="UnitOfMeasurement" id="uuid-9E274585-8F26-456A-864A-01E0FB177A3B"/>
				<xsd:element ref="Identifier" id="uuid-5C262CB2-FB6B-4508-A0FB-2954CFC98841" minOccurs="0"/>
				<xsd:element ref="Relationship" id="uuid-537184F4-BB04-409A-BFD9-40B27AD1B9E3" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="MeasurementInstance" id="uuid-A9FC8FA2-1102-4994-AD1D-40903738999D" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="OtherInformation" id="uuid2FC2C862-2FE0-44f2-8F3A-A48A1E07BEBC" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ValueChainStage" type="ValueChainStageType" id="uuid-6203C7DD-4373-47B4-A331-063F14B35668"/>
			<xsd:attribute name="PerformanceIndicatorType" type="PerformanceIndicatorTypeType" id="uuid-5607C853-43F1-43E5-BA82-99E08F59AB31"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PhoneNumber" type="xsd:string" id="uuid-9084c2d2-4b7e-4189-a784-a86a4469a01c">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The telephone number of the person submitting the plan.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PublicationDate" type="xsd:date" id="uuid-04d8f96c-b5fc-458e-8de4-f5e2746e8b8b">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The day, month, and year a plan or report was published in its current form.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Relationship" id="uuid-13C30F4E-0687-4C56-A052-7ED466D43D68">
		<xsd:annotation>
			<xsd:documentation>A conceptual connection between two elements that have Identifiers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Identifier" id="uuid-ADB401CE-F9B5-4D46-A8AE-1C5F7A1CA85A"/>
				<xsd:element ref="Name" id="uuid-C8666759-562B-419C-8DF8-E736A4478EF6" minOccurs="0"/>
				<xsd:element ref="Description" id="uuid-46D15F06-AB63-4363-A87A-968EBD11EFF3" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="RelationshipType" type="RelationshipTypeType" id="uuid-424EE340-4A1E-4791-B964-4CC3072BC69F"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Role" id="uuid-6BEF4BD5-C9DB-497c-A264-B81B443F36AA">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A complex element containing other elements enabling the naming, description, and categorization of different kinds of interests individuals and groups may have in the achievement of goals and objectives.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name" id="uuid-8AA40586-F938-44fd-8D84-873E6E172480"/>
				<xsd:element ref="Description" id="uuid-E7588067-5425-4087-AE9F-191CF2058B09" minOccurs="0"/>
				<xsd:element ref="RoleType" id="uuid-9F732A4D-0A67-482a-85CC-F2FEBAF4B935" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RoleType" id="uuid-16827A64-1DE2-4cfb-AE53-E8CEE0AA3391">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">An attribute designating whether a stakeholder is a prospective beneficiary or a performer of actions required to achieve an objective, or both a performer and a beneficiary.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Performer"/>
				<xsd:enumeration value="Beneficiary"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SequenceIndicator" type="xsd:string" id="uuid-7f10f639-e7cf-4513-804c-5f4f7592c5e5">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">An alphanumeric identifier applied to an element to designate its order in a series.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Source" type="xsd:anyURI" id="uuid-03b90177-d13b-4e32-ada9-7c7a1eb1703b">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The Web address (URL) for the authoritative source of this document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Stakeholder" id="uuid-1effcb49-9462-4c9b-bdc2-92971c9fc9cf">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">An individual whose interests may be affected by or whose action may be required to achieve a goal or objective.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name" id="uuid-35cc454d-43d4-46b2-a548-eeb3ff8605dd"/>
				<xsd:element ref="Description" id="uuid-7e18eb24-475c-4bcf-a3c4-1c43adaf127c" minOccurs="0"/>
				<xsd:element ref="Role" id="uuid-75B20BA6-6B35-490b-BE78-B98008D49CC2" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartDate" type="xsd:date" id="uuid-11a1e9c3-959b-4c2e-b3de-5e1296eb6ab3">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The year, month and day the element with which it is associated is scheduled to begin.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StrategicPlanCore" id="uuid-ce9c9293-e374-4800-8d62-9ee87d0c9887">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A complex element comprised if Mission, Vision, Values, Goals, Objectives and Stakeholders, together with the children of those core elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Organization" id="uuid-f8d6372e-52e8-4a60-ab1c-274aad8bcf33" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Vision" id="uuid-d4dbdad8-0cdd-4294-b091-b8bec961d03b" minOccurs="0"/>
				<xsd:element ref="Mission" id="uuid-f66bec3e-2714-49ec-8e15-8820cecba9ae" minOccurs="0"/>
				<xsd:element ref="Value" id="uuid-1ab0aa31-a42f-410e-8b2c-29c22eed8a77" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Goal" id="uuid-294b80a3-7288-4477-9458-35292f7a47c3" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Submitter" type="ContactInformationType" id="uuid-1dec258f-1656-4173-acfe-677c1cf24bf3">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">The person submitting the plan or report in StratML format.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TargetResult" id="uuid-A9278A5B-2E6A-4ad4-BA13-838E0210FD26">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A measurable result to be achieved on or before a specified date.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Description" id="uuid-F9F237D5-43B4-4C27-84BB-153A0259767A"/>
				<xsd:element ref="NumberOfUnits" id="uuid-0DDC5C0E-2485-4739-98D1-1A132CDFE16E" minOccurs="0"/>
				<xsd:element ref="StartDate" id="uuid-2FA5B86C-DA08-46A1-85AB-E37D3291212B" minOccurs="0"/>
				<xsd:element ref="EndDate" id="uuid-B9750177-95CB-4007-9B8A-18E6A084A8FE" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnitOfMeasurement" type="xsd:string" id="uuid-BCF7687F-8056-4F02-AC0F-E92B84BEC16E">
		<xsd:annotation>
			<xsd:documentation>The scale by which measurements are divided into increments.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Value" id="uuid-50f98ade-573c-4afa-8696-1d0e4a2c7ff3">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A principle that is important and helps to define the essential character of the organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name" id="uuid-54768289-ad1d-4983-8b30-081f6b1fdeb3" minOccurs="0"/>
				<xsd:element ref="Description" id="uuid-f285ccf3-d061-47a5-ac0d-873a8971883b" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Vision" id="uuid-5e02d6ec-d669-47c4-b443-e7716bd27528">
		<xsd:annotation>
			<xsd:documentation source="documentation" xml:lang="EN">A concise and inspirational statement implicitly relating an organization's purpose to its values, thus motivating its actions toward a future state it strives to achieve.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Description" id="uuid-8201c15c-8206-49f3-9bd3-d816209a8b3c" minOccurs="0"/>
				<xsd:element ref="Identifier" id="uuid-333e71c6-6b27-4bd2-bf39-c6e7b69d0404" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--Complex Types A - Z-->
	<xsd:complexType name="AdministrativeInformationType" id="uuid-32864389-230a-4f77-9c09-c083386fcad9">
		<xsd:sequence>
			<xsd:element ref="Identifier" id="uuid-A36D9558-9F96-4972-91FA-B4F311A7735D" minOccurs="0"/>
			<xsd:element ref="StartDate" id="uuid-9bafe734-ca3f-4d53-bbb1-2d904412a09e" minOccurs="0"/>
			<xsd:element ref="EndDate" id="uuid-63418B7E-0941-4964-9523-BC6034048730" minOccurs="0"/>
			<xsd:element ref="PublicationDate" id="uuid-6ebfbf00-e08c-4118-8980-aba1f91c3936" minOccurs="0"/>
			<xsd:element ref="Source" id="uuid-f2e49267-3f70-497a-827e-3b65644badd8" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType" id="uuid-b07e1586-6676-4212-8a6a-4a365a4977ec">
		<xsd:sequence>
			<xsd:element ref="Identifier" id="uuid-3AA1341B-C021-43a9-94D3-5AE78BEA9B90" minOccurs="0"/>
			<xsd:element ref="FirstName" id="uuid-be2396f2-cdf9-498c-82ef-1ce1b9209086" minOccurs="0"/>
			<xsd:element ref="LastName" id="uuid-3d5034e0-328a-46a0-b5fb-776e070cca5f" minOccurs="0"/>
			<xsd:element ref="PhoneNumber" id="uuid-160fe527-9d1d-423a-bc95-ad48f3257276" minOccurs="0"/>
			<xsd:element ref="EmailAddress" id="uuid-9e408a3b-034a-486f-b045-7cc74505b44d" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GoalType" id="uuid-3604D5A8-2B17-41b1-88E9-F71866006E23">
		<xsd:sequence>
			<xsd:element ref="Name" id="uuid-0b19dff1-b98e-470f-ac80-92a755d8aa37"/>
			<xsd:element ref="Description" id="uuid-b454f40f-721c-42a1-ba43-3a56ef37766e"/>
			<xsd:element ref="Identifier" id="uuid-f0543f96-c5be-4d77-a86d-d2f04122a5ea" minOccurs="0"/>
			<xsd:element ref="SequenceIndicator" id="uuid-af23adab-d9d6-46b2-a627-8cd2547d8192" minOccurs="0"/>
			<xsd:element ref="Stakeholder" id="uuid-93270a8d-75b5-4052-974e-19e5bd9c5931" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="OtherInformation" id="uuid-edd05fe8-91ca-4511-8f5b-c360ac07ebe8" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObjectiveType" id="uuid-A494052D-115D-4452-B49B-DC0FF3089A79">
		<xsd:sequence>
			<xsd:element ref="Name" id="uuid-36e8852b-2761-460d-b911-0c01c7bdecd3" minOccurs="0"/>
			<xsd:element ref="Description" id="uuid-687daacf-3b29-4e91-b1e7-8e9191d17338" minOccurs="0"/>
			<xsd:element ref="Identifier" id="uuid-8e762c3e-85b6-4f5c-93d1-a2513667507f" minOccurs="0"/>
			<xsd:element ref="SequenceIndicator" id="uuid-abbc7e84-6083-4c89-9c8e-30a9d09616d2" minOccurs="0"/>
			<xsd:element ref="Stakeholder" id="uuid-3c9c0a38-4d9b-4641-a0f0-f05e722e6f4c" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="OtherInformation" id="uuid-75d113e5-ae18-4c6f-87ca-1811557471fb" minOccurs="0"/>
			<xsd:element ref="PerformanceIndicator" id="uuid-87F2E84B-2216-4D56-9B58-250CD8D52CB8" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Simple Types A - Z-->
	<xsd:simpleType name="PerformanceIndicatorTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Quantitative"/>
			<xsd:enumeration value="Qualitative"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Broader_Than"/>
			<xsd:enumeration value="Peer_To"/>
			<xsd:enumeration value="Narrower_Than"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ValueChainStageType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Outcome"/>
			<xsd:enumeration value="Output_Processing"/>
			<xsd:enumeration value="Output"/>
			<xsd:enumeration value="Input_Processing"/>
			<xsd:enumeration value="Input"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
