example-data/oxygen-frameworks/dita/DITA-OT/plugins/org.dita-ng.doctypes/rnc/learning/rnc/learningBase.mod.rnc

# ============================================================= 
# MODULE:    DITA Learning Base - RNC              
# VERSION:   1.2                                                
# DATE:      November 2010                                       
# =============================================================

# Refer to the latest version of this file by the following URI:
# urn:dita-ng:dita:rnc:learningBase.mod.rnc
# To refer to this specific version, you may use this value:
# urn:dita-ng:dita:rnc:learningBase.mod.rnc:1.2

# ============================================================= 
# SYSTEM:     Darwin Information Typing Architecture (DITA)     
# PURPOSE:    Define elements and specialization attributes for 
#             Learning Base
# ORIGINAL CREATION DATE:  
# September 2010                                                
# (C) Copyright Syncro Soft 2010-2011                                
# All Rights Reserved.                                          
# =============================================================

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

# Define the domain values of this module
domains-atts-value |= "(topic learningBase+learningInteractionBase-d)"
learningBasebody = learningBasebody.element
lcIntro = lcIntro.element
lcObjectives = lcObjectives.element
lcObjectivesStem = lcObjectivesStem.element
lcObjectivesGroup = lcObjectivesGroup.element
lcObjective = lcObjective.element
lcAudience = lcAudience.element
lcDuration = lcDuration.element
lcTime = lcTime.element
lcPrereqs = lcPrereqs.element
lcSummary = lcSummary.element
lcNextSteps = lcNextSteps.element
lcReview = lcReview.element
lcResources = lcResources.element
lcChallenge = lcChallenge.element
lcInstruction = lcInstruction.element
lcInteraction = lcInteraction.element
# declare the structure and content models
learningBase-info-types = info-types
learningBase.content =
  title,
  titlealts?,
  (shortdesc | abstract)?,
  prolog?,
  learningBasebody?,
  related-links?,
  learningBase-info-types*
learningBase.attributes =
  attribute id { xsd:ID },
  conref-atts,
  select-atts,
  localization-atts,
  attribute outputclass { text }?
learningBase.element =
  
  ## The learningBase topic type is not used to deliver any actual learning
  ##         content, but instead provides a set of common elements for use in the other more specific
  ##         learning content types: learningOverview,learningContent, learningSummary,
  ##         learningAssessment, and learningPlan.
  element learningBase { learningBase.attlist, learningBase.content }
learningBase.attlist &= learningBase.attributes, arch-atts, domains-atts
learningBasebody.content =
  (lcAudience
   | lcChallenge
   | lcDuration
   | lcInstruction
   | lcInteraction
   | lcIntro
   | lcNextSteps
   | lcObjectives
   | lcPrereqs
   | lcResources
   | lcReview
   | lcSummary
   | section)*
learningBasebody.attributes =
  univ-atts,
  attribute outputclass { text }?
learningBasebody.element =
  
  ## The <learningBasebody> element is the main body-level element in a
  ##         learningBase topic. The learningBase topic provides a set of base elements for use in the
  ##         other specialized learning types. It is not generally intended for creating actual content.
  ##         As such, each of the body sections in learningBase are optional.
  element learningBasebody {
    learningBasebody.attlist, learningBasebody.content
  }
learningBasebody.attlist &= learningBasebody.attributes
lcIntro.content = section.cnt*
lcIntro.attributes =
  univ-atts,
  attribute spectitle { text }?,
  attribute outputclass { text }?
lcIntro.element =
  
  ## The <lcIntro> provides a detailed introduction and description of the
  ##         content to be delivered, in cases where the <shortdesc> is not adequate to fully describe
  ##         the content. It may also include instructor notes.
  element lcIntro { lcIntro.attlist, lcIntro.content }
lcIntro.attlist &= lcIntro.attributes
lcObjectives.content = title?, lcObjectivesStem?, lcObjectivesGroup*
lcObjectives.attributes =
  univ-atts,
  attribute spectitle { text }?,
  attribute outputclass { text }?
lcObjectives.element =
  
  ## The <lcObjectives> lists or describes the learning
  ##         goals.
  element lcObjectives { lcObjectives.attlist, lcObjectives.content }
lcObjectives.attlist &= lcObjectives.attributes
lcObjectivesStem.content = ph.cnt*
lcObjectivesStem.attributes =
  univ-atts,
  attribute outputclass { text }?
lcObjectivesStem.element =
  
  ## The <lcObjectivesStem> provides a leading sentence to introduce a list of
  ##         learning objectives.
  element lcObjectivesStem {
    lcObjectivesStem.attlist, lcObjectivesStem.content
  }
lcObjectivesStem.attlist &= lcObjectivesStem.attributes
lcObjectivesGroup.content = lcObjective+
lcObjectivesGroup.attributes =
  univ-atts,
  attribute outputclass { text }?
lcObjectivesGroup.element =
  
  ## The <lcObjectivesGroup> contains a list of one or more learning
  ##         objectives.
  element lcObjectivesGroup {
    lcObjectivesGroup.attlist, lcObjectivesGroup.content
  }
lcObjectivesGroup.attlist &= lcObjectivesGroup.attributes
lcObjective.content = ph.cnt*
lcObjective.attributes =
  univ-atts,
  attribute outputclass { text }?
lcObjective.element =
  
  ## The <lcObjective> describes a single learning objective.
  element lcObjective { lcObjective.attlist, lcObjective.content }
lcObjective.attlist &= lcObjective.attributes
lcAudience.content = section.cnt*
lcAudience.attributes =
  univ-atts,
  attribute spectitle { text }?,
  attribute outputclass { text }?
lcAudience.element =
  
  ## The <lcAudience> describes characteristics of the learners who take the
  ##         instruction.
  element lcAudience { lcAudience.attlist, lcAudience.content }
lcAudience.attlist &= lcAudience.attributes
lcDuration.content = title?, lcTime?
lcDuration.attributes =
  univ-atts,
  attribute spectitle { text }?,
  attribute outputclass { text }?
lcDuration.element =
  
  ## The <lcDuration> provides an estimated duration for the learning
  ##         activity.
  element lcDuration { lcDuration.attlist, lcDuration.content }
lcDuration.attlist &= lcDuration.attributes
lcTime.content = ph.cnt*
lcTime.attributes =
  [ a:defaultValue = "lcTime" ] attribute name { text }?,
  [ a:defaultValue = "TimeValue" ] attribute datatype { text }?,
  attribute value { text },
  univ-atts,
  attribute outputclass { text }?
lcTime.element =
  
  ## The <lcTime> specifies the time expected to complete an
  ##         activity.
  element lcTime { lcTime.attlist, lcTime.content }
lcTime.attlist &= lcTime.attributes
lcPrereqs.content = section.cnt*
lcPrereqs.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcPrereqs.element =
  
  ## The <lcPrereqs> describes the knowledge, experience, or other
  ##         prerequisites needed to complete the content.
  element lcPrereqs { lcPrereqs.attlist, lcPrereqs.content }
lcPrereqs.attlist &= lcPrereqs.attributes
lcSummary.content = section.cnt*
lcSummary.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcSummary.element =
  
  ## The <lcSummary> provides a textual summary that describes the main
  ##         learning goals and lessons learned.
  element lcSummary { lcSummary.attlist, lcSummary.content }
lcSummary.attlist &= lcSummary.attributes
lcNextSteps.content = section.cnt*
lcNextSteps.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcNextSteps.element =
  
  ## The <lcNextSteps> suggests next steps to reinforce the knowledge
  ##         learned.
  element lcNextSteps { lcNextSteps.attlist, lcNextSteps.content }
lcNextSteps.attlist &= lcNextSteps.attributes
lcReview.content = section.cnt*
lcReview.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcReview.element =
  
  ## The <lcReview> provides a review of the main points.
  element lcReview { lcReview.attlist, lcReview.content }
lcReview.attlist &= lcReview.attributes
lcResources.content = section.cnt*
lcResources.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcResources.element =
  
  ## The <lcResources> provides a list of related resources and information
  ##         about them, such as related articles or samples on the web. 
  element lcResources { lcResources.attlist, lcResources.content }
lcResources.attlist &= lcResources.attributes
lcChallenge.content = section.cnt*
lcChallenge.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcChallenge.element =
  
  ## The <lcChallenge> refers to what it is that you want the student to
  ##         practice. For example, if you're studying network diagrams, and challenge might be "see
  ##         if you can put this network into its proper sequence" or "see if you understand this
  ##         network flow".
  element lcChallenge { lcChallenge.attlist, lcChallenge.content }
lcChallenge.attlist &= lcChallenge.attributes
lcInstruction.content = section.cnt*
lcInstruction.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcInstruction.element =
  
  ## The <lcInstruction> describes the specifics of a learning
  ##         activity.
  element lcInstruction { lcInstruction.attlist, lcInstruction.content }
lcInstruction.attlist &= lcInstruction.attributes
lcInteraction.content = lcInteractionBase*
lcInteraction.attributes =
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
lcInteraction.element =
  
  ## The <lcInteraction> is a wrapper element for all the interactions of the
  ##         assessment. The interactions themselves are based on a basic set of assessment types
  ##         implemented as a DITA domain specialization.
  element lcInteraction { lcInteraction.attlist, lcInteraction.content }
lcInteraction.attlist &= lcInteraction.attributes
# specialization attributes
learningBase.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/topic learningBase/learningBase " ]
  attribute class { text }?
learningBasebody.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/body learningBase/learningBasebody " ]
  attribute class { text }?
lcIntro.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcIntro " ]
  attribute class { text }?
lcObjectives.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcObjectives " ]
  attribute class { text }?
lcObjectivesStem.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/ph learningBase/lcObjectivesStem " ]
  attribute class { text }?
lcObjectivesGroup.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/ul learningBase/lcObjectivesGroup " ]
  attribute class { text }?
lcObjective.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/li learningBase/lcObjective " ]
  attribute class { text }?
lcAudience.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcAudience " ]
  attribute class { text }?
lcDuration.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcDuration " ]
  attribute class { text }?
lcTime.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/data learningBase/lcTime " ]
  attribute class { text }?
lcPrereqs.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcPrereqs " ]
  attribute class { text }?
lcSummary.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcSummary " ]
  attribute class { text }?
lcNextSteps.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcNextSteps " ]
  attribute class { text }?
lcReview.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcReview " ]
  attribute class { text }?
lcResources.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcResources " ]
  attribute class { text }?
lcChallenge.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcChallenge " ]
  attribute class { text }?
lcInstruction.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcInstruction " ]
  attribute class { text }?
lcInteraction.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section learningBase/lcInteraction " ]
  attribute class { text }?
