example-data/oxygen-frameworks/schema_documentation/xsdDocSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.oxygenxml.com/ns/doc/schema-internal"
  xmlns="http://www.oxygenxml.com/ns/doc/schema-internal">
  <!-- http://www.w3.org/2001/xml.xsd -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:element name="schemaDoc">
    <xs:complexType>
      <xs:sequence maxOccurs="1">
        <xs:element maxOccurs="1" minOccurs="1" ref="splitInfo"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element minOccurs="0" ref="schema"/>
          <xs:element minOccurs="0" ref="element"/>
          <xs:element minOccurs="0" ref="complexType"/>
          <xs:element minOccurs="0" ref="simpleType"/>
          <xs:element minOccurs="0" ref="attribute"/>
          <xs:element minOccurs="0" ref="elementGroup"/>
          <xs:element minOccurs="0" ref="attributeGroup"/>
          <xs:element ref="index" minOccurs="0"/>
          <xs:element minOccurs="0" ref="schemaHierarchy"/>
          <xs:element ref="notation"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="splitInfo">
    <xs:annotation>
      <xs:documentation>
              Contains information about the documentation splitting process, 
              like the splitting criteria or the index location.
          </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="criteria" use="required">
        <xs:annotation>
          <xs:documentation> The criteria used for splitting the documentation.
                    </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="component"/>
            <xs:enumeration value="location"/>
            <xs:enumeration value="namespace"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation> When the criteria for splitting the documentation is
                        'location' the attribute value is the location, when the criteria is
                        'namespace' the value is the common namespace, when the criteria is
                        'component' the value is the qname of the global component contained and
                        when there is no split, the value is the main schema location.
                    </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="indexLocation" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation> When there was a criteria for spliting, this specifies the
                        location of the index, relative to the current file. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="schemaHierarchy">
    <xs:annotation>
      <xs:documentation>The directives tree. Imports, includes and redefines are presented in
                a tree manner. If present, it must contain at least one
                directive.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="1">
        <xs:element ref="directive" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="refTypeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="directive">
    <xs:annotation>
      <xs:documentation>The directive. It represents an import, an include or a redefine. It
                might contain other directives corresponding to its level.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="directive" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="refTypeGroup"/>
      <xs:attribute name="directiveType" type="directiveType" use="required"/>
      <xs:attribute name="cycle" type="xs:boolean" default="false" use="optional">
        <xs:annotation>
          <xs:documentation>If set to true, this means the schema referred is already
                        present in the ancestors path.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="index">
    <xs:annotation>
      <xs:documentation> The index contains the references of all the components from the
                documentation. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="refListType"> </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="refListType" mixed="true">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ref"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Schema Components -->
  <xs:complexType name="baseComponent">
    <xs:complexContent>
      <xs:extension base="namedComponent">
        <xs:sequence>
          <xs:element minOccurs="0" name="redefinedComponent" type="refType"/>
          <xs:element ref="diagram" minOccurs="0"/>
          <xs:element ref="type" minOccurs="0"/>
          <xs:element name="typeHierarchy" type="refListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation> A list of all the types from the type hierarchy. The
                                first position represents the root in the hierarchy.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="properties" minOccurs="0">
            <xs:annotation>
              <xs:documentation> The list of the component properties.
                            </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="property" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation> A component property. </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name" type="xs:string"/>
                      <xs:choice>
                        <xs:element name="value" type="xs:string"/>
                        <xs:element ref="ref"/>
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="usedBy" minOccurs="0"/>
          <xs:element ref="annotations" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="usedBy" type="refListType">
    <xs:annotation>
      <xs:documentation> A list of references to the components that use this component.
            </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="componentWithFacets">
    <xs:complexContent>
      <xs:extension base="baseComponent">
        <xs:sequence>
          <xs:element ref="facets" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="schema">
    <xs:annotation>
      <xs:documentation> Informations about a schema. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseComponent">
          <!-- Add default open content element in the schema. -->
          <xs:sequence>
            <xs:element name="defaultOpenContent" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="mode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="interleave"/>
                          <xs:enumeration value="suffix"/>
                          <xs:enumeration value="none"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>

                    <xs:attribute name="processContents">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="lax"/>
                          <xs:enumeration value="strict"/>
                          <xs:enumeration value="skip"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>

                    <xs:attribute name="appliesToEmpty" type="xs:boolean"/>
                  </xs:extension>
                </xs:simpleContent>

              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" type="schemaType" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="directiveType">
    <xs:annotation>
      <xs:documentation> Specifies if the schema is included, imported, redefined one or the
                main one. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="schemaType">
      <xs:enumeration value="include"/>
      <xs:enumeration value="import"/>
      <xs:enumeration value="redefine"/>
      <xs:enumeration value="override"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="schemaType">
    <xs:annotation>
      <xs:documentation> Specifies if the schema is included, imported, redefined one or the
                main one. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="main"/>
      <xs:enumeration value="include"/>
      <xs:enumeration value="import"/>
      <xs:enumeration value="redefine"/>
      <xs:enumeration value="override"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="element">
    <xs:annotation>
      <xs:documentation> Information about an element. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="componentWithFacets">
          <xs:sequence>
            <xs:group ref="complexTypeModelRepresentation"/>
            <xs:element name="instance" minOccurs="0" type="tokenListType">
              <xs:annotation>
                <xs:documentation> An xml representation of the component.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="asserts"/>
            <xs:element ref="attributes" minOccurs="0"/>
            <xs:element name="constraints" minOccurs="0">
              <xs:annotation>
                <xs:documentation> Identity constrains for a component.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="constraint" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation> One of the identity constrains.
                                            </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="refer" type="xs:string"/>
                        <xs:element name="selector" type="xs:string"/>
                        <xs:element name="fields" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="substitutionGroup" type="refListType" minOccurs="0">
              <xs:annotation>
                <xs:documentation> Informations about the components that are part
                                    of the substitution group of the current component.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="substitutionGroupAffiliation" minOccurs="0">
              <xs:annotation>
                <xs:documentation> The substitution group to whom the current
                                    component belongs to. </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="refListType">
                    <xs:sequence>
                      <xs:element ref="ref" maxOccurs="1"/>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="source" type="tokenListType" minOccurs="0">
              <xs:annotation>
                <xs:documentation> The text source of the component.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="simpleType">
    <xs:annotation>
      <xs:documentation> Informations about a simple type component. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="componentWithFacets">
          <xs:sequence>
            <xs:element ref="source" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="complexType">
    <xs:annotation>
      <xs:documentation> Informations about a complex type component. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseComponent">
          <xs:sequence>
            <xs:group ref="complexTypeModelRepresentation"/>
            <xs:element ref="attributes" minOccurs="0"/>
            <xs:element ref="asserts" minOccurs="0"/>
            <xs:element ref="source" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="attribute">
    <xs:annotation>
      <xs:documentation> Informations about a top-level attribute declaration.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="componentWithFacets">
          <xs:sequence>
            <xs:element ref="source" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="elementGroup">
    <xs:annotation>
      <xs:documentation> Informations about element group component. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseComponent">
          <xs:sequence>
            <xs:group ref="complexTypeModelRepresentation"/>
            <xs:element ref="source" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="attributeGroup">
    <xs:annotation>
      <xs:documentation> Informations about attribute group component. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseComponent">
          <xs:sequence>
            <xs:element ref="attributes" minOccurs="0"/>
            <xs:element ref="source" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="refTypeGroup">
    <xs:annotation>
      <xs:documentation> Reference to a component.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="base" type="xs:NCName">
      <xs:annotation>
        <xs:documentation> The location of the referred component. The intermediate xml file
                    where the component was serialized in.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ns" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation> The namespace of the referred component.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="refId">
      <xs:annotation>
        <xs:documentation> The id of the referred component.</xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="refType" type="refTypeAttributeType">
      <xs:annotation>
        <xs:documentation> The type of the referred component.</xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="schemaLocation" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>Schema to which the component belongs to.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="refType" mixed="true">
    <xs:attributeGroup ref="refTypeGroup"/>
  </xs:complexType>

  <xs:element name="ref" type="refType">
    <xs:annotation>
      <xs:documentation> Reference to a component</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="annotations">
    <xs:annotation>
      <xs:documentation> The list of the component annotations.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="annotation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="type">
    <xs:annotation>
      <xs:documentation> The component type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="refListType">
          <xs:attribute name="derivationType">
            <xs:annotation>
              <xs:documentation> The derivation method of the type.
                            </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="restriction"/>
                <xs:enumeration value="extension"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="attributes">
    <xs:annotation>
      <xs:documentation> The list of the attributes declared in the component.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="attr" minOccurs="0" maxOccurs="unbounded" type="attributeType">
          <xs:annotation>
            <xs:documentation> One of the attributes declared in the component.
                        </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="defaultAttr" minOccurs="0" maxOccurs="unbounded" type="attributeType">
          <xs:annotation>
            <xs:documentation> One of the default attributes declared in the schema.
                        </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="anyAttr" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation> The attribute wildcard represenration.
                        </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="attributeType">
    <xs:sequence>
      <xs:element ref="ref"/>
      <xs:element ref="type" minOccurs="0"/>
      <xs:element name="fixed" type="xs:string" minOccurs="0"/>
      <xs:element name="default" type="xs:string" minOccurs="0"/>
      <xs:element name="use" default="optional" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="optional"/>
            <xs:enumeration value="required"/>
            <xs:enumeration value="prohibited"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="inheritable" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="annotations" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="asserts">
    <xs:annotation>
      <xs:documentation> The list of the asserts declared in the complex type.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assert" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation> One of the assert declared in the complex type.
                        </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="test" type="xs:string"/>
              <xs:element name="xpathDefaultNs" type="xs:string" minOccurs="0"/>
              <xs:element ref="annotations" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="typeAlternatives">
    <xs:annotation>
      <xs:documentation> The list of the type alternatives of an element.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="typeAlternative" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation> One of the type alternative declared.
                            If the last type does not have an test XPath expression, then is the default type.
                        </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="type" minOccurs="0"/>
              <xs:element name="test" type="xs:string" minOccurs="0"/>
              <xs:element name="xpathDefaultNs" type="xs:string" minOccurs="0"/>
              <xs:element ref="annotations" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="token">
    <xs:annotation>
      <xs:documentation> A part of a XML text source.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="tEl"/>
            <xs:enumeration value="tAN"/>
            <xs:enumeration value="tAV"/>
            <xs:enumeration value="tT"/>
            <xs:enumeration value="tC"/>
            <xs:enumeration value="tCD"/>
            <xs:enumeration value="tPI"/>
            <xs:enumeration value="tEn"/>
            <xs:enumeration value="tI"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:space"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tokenListType">
    <xs:group ref="tokenListGroup"/>
  </xs:complexType>

  <xs:group name="tokenListGroup">
    <xs:sequence>
      <xs:element ref="token" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="group">
    <xs:annotation>
      <xs:documentation> Represents a compositor for XML Schema: sequence, choice, all.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="group"/>
        <xs:element ref="ref"/>
      </xs:choice>
      <xs:attribute name="compositor" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="all"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="choice"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="map">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="area" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="shape" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="coords">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="((\p{Nd})+\,)*(\p{Nd})+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="href" type="xs:anyURI"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="diagram">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="location" type="xs:string"/>
        <xs:element ref="map" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="width" type="xs:int">
        <xs:annotation>
          <xs:documentation>The width of the diagram</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="height" type="xs:int">
        <xs:annotation>
          <xs:documentation>The height of the diagram</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="facets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="facet" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" ref="annotation"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="openContent">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="ref" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="mode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="interleave"/>
            <xs:enumeration value="suffix"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <xs:attribute name="processContents">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="lax"/>
            <xs:enumeration value="strict"/>
            <xs:enumeration value="skip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <xs:attribute name="appliesToEmpty" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>


  <xs:group name="complexTypeModelRepresentation">
    <xs:sequence>
      <xs:element name="model" minOccurs="0">
        <xs:annotation>
          <xs:documentation> The structure of the component.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="group" minOccurs="0"/>
            <xs:element ref="openContent" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="children" minOccurs="0">
        <xs:annotation>
          <xs:documentation> The elements that can appear in the component structure.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="child" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation> One of the possible elements from the component
                                    structure.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="ref"/>
                  <xs:element name="minOccurs" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="maxOccurs" minOccurs="0">
                    <xs:simpleType>
                      <xs:union>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="unbounded"/>
                          </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:union>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="source" type="tokenListType">
    <xs:annotation>
      <xs:documentation> The text source of the component.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="annotation">
    <xs:annotation>
      <xs:documentation> A component annotation.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="1" minOccurs="0">
        <xs:choice maxOccurs="unbounded">
          <xs:any maxOccurs="unbounded" namespace="##local" processContents="lax"/>
          <xs:any namespace="##other" processContents="lax"/>
        </xs:choice>
        <xs:group ref="tokenListGroup"/>
      </xs:choice>
      <xs:attribute name="source" type="xs:anyURI"/>
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="namedComponent">
    <xs:annotation>
      <xs:documentation>A named component.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qname" type="xs:string"/>
      <xs:element name="declarationPath" type="refListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation> A list of references who composes the component declaration
                        path.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="namespace" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation> The component namespace.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schemaLocation" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation> The location of the schema where the component is declared.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="overriddenComponent" type="refType"/>
      <xs:element minOccurs="0" name="overridingComponent" type="refType"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  <xs:element name="notation">
    <xs:annotation>
      <xs:documentation>Describes the format of non-XML data within an XML
                document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="namedComponent">
          <xs:sequence>
            <xs:element name="publicid" type="xs:string"/>
            <xs:element minOccurs="0" name="systemid" type="xs:string"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="refTypeAttributeType">
    <xs:annotation>
      <xs:documentation> 
        Specifies the type of components that can be referred.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Element"/>
      <xs:enumeration value="Attribute"/>
      <xs:enumeration value="Schema"/>
      <xs:enumeration value="Main_schema"/>
      <xs:enumeration value="Element_Group"/>
      <xs:enumeration value="Attribute_Group"/>
      <xs:enumeration value="Simple_Type"/>
      <xs:enumeration value="Complex_Type"/>
      <xs:enumeration value="Notation"/>
      <xs:enumeration value="Included_schema"/>
      <xs:enumeration value="Imported_schema"/>
      <xs:enumeration value="Redefined_schema"/>
      <xs:enumeration value="Overridden_schema"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
