examples-functions/xsd-validate/xsd/airports.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:include schemaLocation="airport.xsd"/>
    
    <xs:element name="airports" type="AirportsType"/>    
    <xs:complexType name="AirportsType">
        <xs:sequence>
            <xs:element name="airport" type="AirportType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="country" type="xs:string" use="required"/>
        <xs:attribute name="count" type="xs:nonNegativeInteger" use="required"/>
    </xs:complexType>
</xs:schema>
