example-data/oxygen-frameworks/dita/DITA-OT/plugins/org.dita-ng.doctypes/rng/technicalContent/rng/task.mod.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= 
  MODULE:    DITA Task - RNG              
  VERSION:   1.2                                                
  DATE:      November 2010                                       
  ============================================================= -->
<!--
  Refer to the latest version of this file by the following URI:
  urn:dita-ng:dita:rng:task.mod.rng
  To refer to this specific version, you may use this value:
  urn:dita-ng:dita:rng:task.mod.rng:1.2
-->
<!-- ============================================================= 
  SYSTEM:     Darwin Information Typing Architecture (DITA)     
  PURPOSE:    Define elements and specialization attributes
              for Tasks            
  ORIGINAL CREATION DATE:  
  September 2010                                                
  (C) Copyright Syncro Soft 2010-2011                                
  All Rights Reserved.                                          
  ============================================================= -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- Define the domain values of this module -->
  <define name="domains-atts-value" combine="choice">
    <value>(topic task)</value>
  </define>
  
  <!-- Define patterns -->
  
  <define name="taskbody">
    <ref name="taskbody.element"/>
  </define>
  <define name="steps">
    <ref name="steps.element"/>
  </define>
  <define name="steps-unordered">
    <ref name="steps-unordered.element"/>
  </define>
  <define name="step">
    <ref name="step.element"/>
  </define>
  <define name="stepsection">
    <ref name="stepsection.element"/>
  </define>
  <define name="cmd">
    <ref name="cmd.element"/>
  </define>
  <define name="substeps">
    <ref name="substeps.element"/>
  </define>
  <define name="substep">
    <ref name="substep.element"/>
  </define>
  <define name="tutorialinfo">
    <ref name="tutorialinfo.element"/>
  </define>
  <define name="info">
    <ref name="info.element"/>
  </define>
  <define name="stepxmp">
    <ref name="stepxmp.element"/>
  </define>
  <define name="stepresult">
    <ref name="stepresult.element"/>
  </define>
  <define name="choices">
    <ref name="choices.element"/>
  </define>
  <define name="choice">
    <ref name="choice.element"/>
  </define>
  <define name="steps-informal">
    <ref name="steps-informal.element"/>
  </define>
  <define name="result">
    <ref name="result.element"/>
  </define>
  <define name="prereq">
    <ref name="prereq.element"/>
  </define>
  <define name="postreq">
    <ref name="postreq.element"/>
  </define>
  <define name="context">
    <ref name="context.element"/>
  </define>
  <define name="choicetable">
    <ref name="choicetable.element"/>
  </define>
  <define name="chhead">
    <ref name="chhead.element"/>
  </define>
  <define name="chrow">
    <ref name="chrow.element"/>
  </define>
  <define name="choptionhd">
    <ref name="choptionhd.element"/>
  </define>
  <define name="chdeschd">
    <ref name="chdeschd.element"/>
  </define>
  <define name="choption">
    <ref name="choption.element"/>
  </define>
  <define name="chdesc">
    <ref name="chdesc.element"/>
  </define>
  
  <!-- SHARED ATTRIBUTE LISTS -->
  
  <!--
    Provide an alternative set of univ-atts 
    that allows importance to be redefined 
    locally
  -->
  <define name="univ-atts-no-importance-task">
    <ref name="id-atts"/>
    <ref name="filter-atts"/>
    <optional>
      <attribute name="base"/>
    </optional>
    <ref name="base-attribute-extensions"/>
    <optional>
      <attribute name="rev"/>
    </optional>
    <optional>
      <attribute name="status">
        <choice>
          <value>new</value>
          <value>changed</value>
          <value>deleted</value>
          <value>unchanged</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <ref name="localization-atts"/>
  </define>
  
  <define name="task-info-types">
    <ref name="info-types"/>
  </define>

  <!-- Define elements content and attributes -->
  
  <!-- LONG NAME: Task -->
  <define name="task.content">
    <ref name="title"/>
    <optional>
      <ref name="titlealts"/>
    </optional>
    <optional>
      <choice>
        <ref name="abstract"/>
        <ref name="shortdesc"/>
      </choice>
    </optional>
    <optional>
      <ref name="prolog"/>
    </optional>
    <optional>
      <ref name="taskbody"/>
    </optional>
    <optional>
      <ref name="related-links"/>
    </optional>
    <zeroOrMore>
      <ref name="task-info-types"/>
    </zeroOrMore>
  </define>
  <define name="task.attributes">
    <attribute name="id">
      <data type="ID"/>
    </attribute>
    <ref name="conref-atts"/>
    <ref name="select-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <task> element is the top-level element for a task topic. Tasks are the main building blocks for task-oriented user assistance. They generally provide step-by-step instructions that will enable a user to perform a task. A task answers the question of "how to?" by telling the user precisely what to do and the order in which to do it. Tasks have the same high-level structure as other topics, with a title, short description and body.
    Category: Task elements
  -->
  <define name="task.element">
    <element name="task">
      <ref name="task.attlist"/>
      <ref name="task.content"/>
    </element>
  </define>
  <define name="task.attlist" combine="interleave">
    <ref name="task.attributes"/>
    <ref name="arch-atts"/>
    <ref name="domains-atts"/>
  </define>
  
  <!-- LONG NAME: Task Body -->
  <define name="taskbody.content">
    <zeroOrMore>
      <choice>
        <ref name="prereq"/>
        <ref name="context"/>
        <ref name="section"/>
      </choice>
    </zeroOrMore>
    <optional>
      <choice>
        <ref name="steps"/>
        <ref name="steps-unordered"/>
        <ref name="steps-informal"/>
      </choice>
    </optional>
    <optional>
      <ref name="result"/>
    </optional>
    <zeroOrMore>
      <ref name="example"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="postreq"/>
    </zeroOrMore>
  </define>
  <define name="taskbody.attributes">
    <ref name="id-atts"/>
    <ref name="localization-atts"/>
    <optional>
      <attribute name="base"/>
    </optional>
    <ref name="base-attribute-extensions"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <taskbody> element is the main body-level element inside a task topic. A task body has a very specific structure, with the following elements in this order: <prereq>, <context>, <steps>, <result>, <example> and <postreq>. Each of the body sections are optional.
    Category: Task elements
  -->
  <define name="taskbody.element">
    <element name="taskbody">
      <ref name="taskbody.attlist"/>
      <ref name="taskbody.content"/>
    </element>
  </define>
  <define name="taskbody.attlist" combine="interleave">
    <ref name="taskbody.attributes"/>
  </define>
  
  <!-- LONG NAME: Prerequisites -->
  <define name="prereq.content">
    <zeroOrMore>
      <ref name="section.notitle.cnt"/>
    </zeroOrMore>
  </define>
  <define name="prereq.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The pre-requisite (<prereq>) section of a task should document things the user needs to know or do before starting the current task. Prerequisite links will be placed in a list after the related-links section; on output the <prereq> links from the related-links section are added to the <prereq> section.
    Category: Task elements
  -->
  <define name="prereq.element">
    <element name="prereq">
      <ref name="prereq.attlist"/>
      <ref name="prereq.content"/>
    </element>
  </define>
  <define name="prereq.attlist" combine="interleave">
    <ref name="prereq.attributes"/>
  </define>
  
  <!-- LONG NAME: Context -->
  <define name="context.content">
    <zeroOrMore>
      <ref name="section.notitle.cnt"/>
    </zeroOrMore>
  </define>
  <define name="context.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <context> section of a task provides background information for the task. This information helps the user understand what the purpose of the task is and what they will gain by completing the task. This section should be brief and does not replace or recreate a concept topic on the same subject, although the context section may include some conceptual information.
    Category: Task elements
  -->
  <define name="context.element">
    <element name="context">
      <ref name="context.attlist"/>
      <ref name="context.content"/>
    </element>
  </define>
  <define name="context.attlist" combine="interleave">
    <ref name="context.attributes"/>
  </define>
  
  <!-- LONG NAME: Informal Steps -->
  <define name="steps-informal.content">
    <zeroOrMore>
      <ref name="section.notitle.cnt"/>
    </zeroOrMore>
  </define>
  <define name="steps-informal.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <steps-informal> element allows authors to describe procedural task information that would not normally be described as steps. -->
  <define name="steps-informal.element">
    <element name="steps-informal">
      <ref name="steps-informal.attlist"/>
      <ref name="steps-informal.content"/>
    </element>
  </define>
  <define name="steps-informal.attlist" combine="interleave">
    <ref name="steps-informal.attributes"/>
  </define>
  
  <!-- LONG NAME: Steps -->
  <define name="steps.content">
    <oneOrMore>
      <optional>
        <ref name="stepsection"/>
      </optional>
      <ref name="step"/>
    </oneOrMore>
  </define>
  <define name="steps.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <steps> section of a task provides the main content of the task topic. The task is described as a series of steps that the user must follow to accomplish the task. One or more <steps> elements is required inside the <steps> section.
    Category: Task elements
  -->
  <define name="steps.element">
    <element name="steps">
      <ref name="steps.attlist"/>
      <ref name="steps.content"/>
    </element>
  </define>
  <define name="steps.attlist" combine="interleave">
    <ref name="steps.attributes"/>
  </define>
  
  <!-- LONG NAME: Steps: Unordered -->
  <define name="steps-unordered.content">
    <oneOrMore>
      <optional>
        <ref name="stepsection"/>
      </optional>
      <ref name="step"/>
    </oneOrMore>
  </define>
  <define name="steps-unordered.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:Like the <steps> element, the <steps-unordered> section of a task provides the main content of the task topic, but particularly for cases in which the order of steps may vary from one situation to another. One or more steps is required inside the <steps-unordered> section.
    Category: Task elements
  -->
  <define name="steps-unordered.element">
    <element name="steps-unordered">
      <ref name="steps-unordered.attlist"/>
      <ref name="steps-unordered.content"/>
    </element>
  </define>
  <define name="steps-unordered.attlist" combine="interleave">
    <ref name="steps-unordered.attributes"/>
  </define>
  
  <!-- LONG NAME: Step section -->
  <define name="stepsection.content">
    <zeroOrMore>
      <ref name="listitem.cnt"/>
    </zeroOrMore>
  </define>
  <define name="stepsection.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!-- doc:The <stepsection> element provides expository text before a step element. Although the element is specialized from <li> and has the same content model as a list item, this is not considered a step, and rendering engines may choose to skip this element when numbering steps. -->
  <define name="stepsection.element">
    <element name="stepsection">
      <ref name="stepsection.attlist"/>
      <ref name="stepsection.content"/>
    </element>
  </define>
  <define name="stepsection.attlist" combine="interleave">
    <ref name="stepsection.attributes"/>
  </define>
  
  <!-- LONG NAME: Step -->
  <define name="step.content">
    <zeroOrMore>
      <ref name="note"/>
    </zeroOrMore>
    <ref name="cmd"/>
    <zeroOrMore>
      <choice>
        <ref name="choices"/>
        <ref name="choicetable"/>
        <ref name="info"/>
        <ref name="itemgroup"/>
        <ref name="stepxmp"/>
        <ref name="substeps"/>
        <ref name="tutorialinfo"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="stepresult"/>
    </optional>
  </define>
  <define name="step.attributes">
    <optional>
      <attribute name="importance">
        <choice>
          <value>optional</value>
          <value>required</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <ref name="univ-atts-no-importance-task"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <step> element represents an action that a user must follow to accomplish a task. Each step in a task must contain a command <cmd> element which describes the particular action the user must do to accomplish the overall task. The step element can also contain information <info>, substeps <substeps>, tutorial information <tutorialinfo>, a step example <stepxmp>, choices <choices> or a stepresult <stepresult>, although these are optional.
    Category: Task elements
  -->
  <define name="step.element">
    <element name="step">
      <ref name="step.attlist"/>
      <ref name="step.content"/>
    </element>
  </define>
  <define name="step.attlist" combine="interleave">
    <ref name="step.attributes"/>
  </define>
  
  <!-- LONG NAME: Command -->
  <define name="cmd.content">
    <zeroOrMore>
      <ref name="ph.cnt"/>
    </zeroOrMore>
  </define>
  <define name="cmd.attributes">
    <optional>
      <attribute name="keyref"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The command (<cmd>) element is required as the first element inside a <step>. It provides the active voice instruction to the user for completing the step, and should not be more than one sentence. If the step needs additional explanation, this can follow the <cmd> element inside an <info > element.
    Category: Task elements
  -->
  <define name="cmd.element">
    <element name="cmd">
      <ref name="cmd.attlist"/>
      <ref name="cmd.content"/>
    </element>
  </define>
  <define name="cmd.attlist" combine="interleave">
    <ref name="cmd.attributes"/>
  </define>
 
  <!-- LONG NAME: Information -->
  <define name="info.content">
    <zeroOrMore>
      <ref name="itemgroup.cnt"/>
    </zeroOrMore>
  </define>
  <define name="info.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The information element (<info>) occurs inside a <step> element to provide additional information about the step.
    Category: Task elements
  -->
  <define name="info.element">
    <element name="info">
      <ref name="info.attlist"/>
      <ref name="info.content"/>
    </element>
  </define>
  <define name="info.attlist" combine="interleave">
    <ref name="info.attributes"/>
  </define>
  
  <!-- LONG NAME: Sub-steps -->
  <define name="substeps.content">
    <oneOrMore>
      <ref name="substep"/>
    </oneOrMore>
  </define>
  <define name="substeps.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <substeps> element allows you to break a step down into a series of separate actions, and should be used only if necessary. Try to describe the steps of a task in a single level of steps. If you need to use more than one level of substep nesting, you should probably rewrite the task to simplify it.
    Category: Task elements
  -->
  <define name="substeps.element">
    <element name="substeps">
      <ref name="substeps.attlist"/>
      <ref name="substeps.content"/>
    </element>
  </define>
  <define name="substeps.attlist" combine="interleave">
    <ref name="substeps.attributes"/>
  </define>
  
  <!-- LONG NAME: Sub-step -->
  <define name="substep.content">
    <zeroOrMore>
      <ref name="note"/>
    </zeroOrMore>
    <ref name="cmd"/>
    <zeroOrMore>
      <choice>
        <ref name="info"/>
        <ref name="itemgroup"/>
        <ref name="stepxmp"/>
        <ref name="tutorialinfo"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="stepresult"/>
    </optional>
  </define>
  <define name="substep.attributes">
    <optional>
      <attribute name="importance">
        <choice>
          <value>optional</value>
          <value>required</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <ref name="univ-atts-no-importance-task"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:A <substep> element has the same structure as a <step>, except that it does not allow lists of choices or substeps within it, in order to prevent unlimited nesting of steps.
    Category: Task elements
  -->
  <define name="substep.element">
    <element name="substep">
      <ref name="substep.attlist"/>
      <ref name="substep.content"/>
    </element>
  </define>
  <define name="substep.attlist" combine="interleave">
    <ref name="substep.attributes"/>
  </define>
 
  <!-- LONG NAME: Tutorial Information -->
  <define name="tutorialinfo.content">
    <zeroOrMore>
      <ref name="itemgroup.cnt"/>
    </zeroOrMore>
  </define>
  <define name="tutorialinfo.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The tutorial info (<tutorialinfo>) element contains additional information that is useful when the task is part of a tutorial.
    Category: Task elements
  -->
  <define name="tutorialinfo.element">
    <element name="tutorialinfo">
      <ref name="tutorialinfo.attlist"/>
      <ref name="tutorialinfo.content"/>
    </element>
  </define>
  <define name="tutorialinfo.attlist" combine="interleave">
    <ref name="tutorialinfo.attributes"/>
  </define>

  <!-- LONG NAME: Step Example -->
  <define name="stepxmp.content">
    <zeroOrMore>
      <ref name="itemgroup.cnt"/>
    </zeroOrMore>
  </define>
  <define name="stepxmp.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The step example (<stepxmp>) element is used to illustrate a step of a task. The example can be a couple of words, or an entire paragraph.
    Category: Task elements
  -->
  <define name="stepxmp.element">
    <element name="stepxmp">
      <ref name="stepxmp.attlist"/>
      <ref name="stepxmp.content"/>
    </element>
  </define>
  <define name="stepxmp.attlist" combine="interleave">
    <ref name="stepxmp.attributes"/>
  </define>
 
  <!-- LONG NAME: Choices -->
  <define name="choices.content">
    <oneOrMore>
      <ref name="choice"/>
    </oneOrMore>
  </define>
  <define name="choices.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <choices> element contains a list of <choice> elements. It is used when the user will need to choose one of several actions while performing the steps of a task.
    Category: Task elements
  -->
  <define name="choices.element">
    <element name="choices">
      <ref name="choices.attlist"/>
      <ref name="choices.content"/>
    </element>
  </define>
  <define name="choices.attlist" combine="interleave">
    <ref name="choices.attributes"/>
  </define>
 
  <!-- LONG NAME: Choice -->
  <define name="choice.content">
    <zeroOrMore>
      <ref name="listitem.cnt"/>
    </zeroOrMore>
  </define>
  <define name="choice.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:Each <choice> element describes one way that the user could accomplish the current step.
    Category: Task elements
  -->
  <define name="choice.element">
    <element name="choice">
      <ref name="choice.attlist"/>
      <ref name="choice.content"/>
    </element>
  </define>
  <define name="choice.attlist" combine="interleave">
    <ref name="choice.attributes"/>
  </define>

  <!-- LONG NAME: Choice Table -->
  <define name="choicetable.content">
    <optional>
      <ref name="chhead"/>
    </optional>
    <oneOrMore>
      <ref name="chrow"/>
    </oneOrMore>
  </define>
  <define name="choicetable.attributes">
    <optional>
      <attribute name="relcolwidth"/>
    </optional>
    <optional>
      <attribute name="keycol" a:defaultValue="1">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="refcols">
        <data type="NMTOKENS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="spectitle"/>
    </optional>
    <ref name="display-atts"/>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <choicetable> element contains a series of optional choices available within a step of a task.
    Category: Task elements
  -->
  <define name="choicetable.element">
    <element name="choicetable">
      <ref name="choicetable.attlist"/>
      <ref name="choicetable.content"/>
    </element>
  </define>
  <define name="choicetable.attlist" combine="interleave">
    <ref name="choicetable.attributes"/>
  </define>
 
  <!-- LONG NAME: Choice Head -->
  <define name="chhead.content">
    <ref name="choptionhd"/>
    <ref name="chdeschd"/>
  </define>
  <define name="chhead.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <chhead> element is a container inside the <choicetable> element that provides specific heading text to override the default Options and Description headings. The <chhead> element contains both a <choptionhd> and <chdeschd> element as a pair.
    Category: Task elements
  -->
  <define name="chhead.element">
    <element name="chhead">
      <ref name="chhead.attlist"/>
      <ref name="chhead.content"/>
    </element>
  </define>
  <define name="chhead.attlist" combine="interleave">
    <ref name="chhead.attributes"/>
  </define>

  <!-- LONG NAME: Choice Option Head -->
  <define name="choptionhd.content">
    <zeroOrMore>
      <ref name="tblcell.cnt"/>
    </zeroOrMore>
  </define>
  <define name="choptionhd.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <choptionhd> element provides a specific label for the list of options that a user chooses from to accomplish a step. The default label for options is Option.
    Category: Task elements
  -->
  <define name="choptionhd.element">
    <element name="choptionhd">
      <ref name="choptionhd.attlist"/>
      <ref name="choptionhd.content"/>
    </element>
  </define>
  <define name="choptionhd.attlist" combine="interleave">
    <ref name="choptionhd.attributes"/>
  </define>
 
  <!-- LONG NAME: Choice Description Head -->
  <define name="chdeschd.content">
    <zeroOrMore>
      <ref name="tblcell.cnt"/>
    </zeroOrMore>
  </define>
  <define name="chdeschd.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <chdeschd> option provides a specific label for the list of descriptions of options that a user must choose to accomplish a step of a task. The default label overridden by <chdeschd> is Description.
    Category: Task elements
  -->
  <define name="chdeschd.element">
    <element name="chdeschd">
      <ref name="chdeschd.attlist"/>
      <ref name="chdeschd.content"/>
    </element>
  </define>
  <define name="chdeschd.attlist" combine="interleave">
    <ref name="chdeschd.attributes"/>
  </define>
 
  <!-- LONG NAME: Choice Row -->
  <define name="chrow.content">
    <ref name="choption"/>
    <ref name="chdesc"/>
  </define>
  <define name="chrow.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <chrow> element is a container inside the <choicetable> element. The <chrow> element contains both a <choption> and <chdesc> element as a pair.
    Category: Task elements
  -->
  <define name="chrow.element">
    <element name="chrow">
      <ref name="chrow.attlist"/>
      <ref name="chrow.content"/>
    </element>
  </define>
  <define name="chrow.attlist" combine="interleave">
    <ref name="chrow.attributes"/>
  </define>
  
  <!-- LONG NAME: Choice Option -->
  <define name="choption.content">
    <zeroOrMore>
      <ref name="tblcell.cnt"/>
    </zeroOrMore>
  </define>
  <define name="choption.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <choption> element describes an option that a user could choose to accomplish a step of a task. In a user interface, for example, this might be the name of radio button.
    Category: Task elements
  -->
  <define name="choption.element">
    <element name="choption">
      <ref name="choption.attlist"/>
      <ref name="choption.content"/>
    </element>
  </define>
  <define name="choption.attlist" combine="interleave">
    <ref name="choption.attributes"/>
  </define>
 
  <!-- LONG NAME: Choice Description -->
  <define name="chdesc.content">
    <zeroOrMore>
      <ref name="tblcell.cnt"/>
    </zeroOrMore>
  </define>
  <define name="chdesc.attributes">
    <optional>
      <attribute name="specentry"/>
    </optional>
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <chdesc> element is a description of an option that a user chooses while performing a step to accomplish a task. It explains why the user would choose that option, and might explain the result of the choice when it is not immediately obvious.
    Category: Task elements
  -->
  <define name="chdesc.element">
    <element name="chdesc">
      <ref name="chdesc.attlist"/>
      <ref name="chdesc.content"/>
    </element>
  </define>
  <define name="chdesc.attlist" combine="interleave">
    <ref name="chdesc.attributes"/>
  </define>
 
  <!-- LONG NAME: Step Result -->
  <define name="stepresult.content">
    <zeroOrMore>
      <ref name="itemgroup.cnt"/>
    </zeroOrMore>
  </define>
  <define name="stepresult.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <stepresult> element provides information on the expected outcome of a step. If a user interface is being documented, the outcome could describe a dialog box opening, or the appearance of a progress indicator. Step results are useful to assure a user that they are on track, but should not be used for every step, as this quickly becomes tedious.
    Category: Task elements
  -->
  <define name="stepresult.element">
    <element name="stepresult">
      <ref name="stepresult.attlist"/>
      <ref name="stepresult.content"/>
    </element>
  </define>
  <define name="stepresult.attlist" combine="interleave">
    <ref name="stepresult.attributes"/>
  </define>
 
  <!-- LONG NAME: Result -->
  <define name="result.content">
    <zeroOrMore>
      <ref name="section.notitle.cnt"/>
    </zeroOrMore>
  </define>
  <define name="result.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <result> element describes the expected outcome for the task as a whole.
    Category: Task elements
  -->
  <define name="result.element">
    <element name="result">
      <ref name="result.attlist"/>
      <ref name="result.content"/>
    </element>
  </define>
  <define name="result.attlist" combine="interleave">
    <ref name="result.attributes"/>
  </define>
 
  <!-- LONG NAME: Post Requirements -->
  <define name="postreq.content">
    <zeroOrMore>
      <ref name="section.notitle.cnt"/>
    </zeroOrMore>
  </define>
  <define name="postreq.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <!--
    doc:The <postreq> element describes steps or tasks that the user should do after the successful completion of the current task. It is often supported by links to the next task or tasks in the <related-links> section.
    Category: Task elements
  -->
  <define name="postreq.element">
    <element name="postreq">
      <ref name="postreq.attlist"/>
      <ref name="postreq.content"/>
    </element>
  </define>
  <define name="postreq.attlist" combine="interleave">
    <ref name="postreq.attributes"/>
  </define>

  <!-- Specialization attributes. Global attributes and class defaults -->
  
  <define name="task.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/topic task/task "/>
    </optional>
  </define>
  <define name="taskbody.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/body task/taskbody "/>
    </optional>
  </define>
  <define name="steps.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/ol task/steps "/>
    </optional>
  </define>
  <define name="steps-unordered.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/ul task/steps-unordered "/>
    </optional>
  </define>
  <define name="stepsection.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/li task/stepsection "/>
    </optional>
  </define>
  <define name="step.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/li task/step "/>
    </optional>
  </define>
  <define name="cmd.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/ph task/cmd "/>
    </optional>
  </define>
  <define name="substeps.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/ol task/substeps "/>
    </optional>
  </define>
  <define name="substep.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/li task/substep "/>
    </optional>
  </define>
  <define name="tutorialinfo.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/itemgroup task/tutorialinfo "/>
    </optional>
  </define>
  <define name="info.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/itemgroup task/info "/>
    </optional>
  </define>
  <define name="stepxmp.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/itemgroup task/stepxmp "/>
    </optional>
  </define>
  <define name="stepresult.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/itemgroup task/stepresult "/>
    </optional>
  </define>
  <define name="choices.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/ul task/choices "/>
    </optional>
  </define>
  <define name="choice.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/li task/choice "/>
    </optional>
  </define>
  <define name="result.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/section task/result "/>
    </optional>
  </define>
  <define name="prereq.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/section task/prereq "/>
    </optional>
  </define>
  <define name="postreq.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/section task/postreq "/>
    </optional>
  </define>
  <define name="context.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/section task/context "/>
    </optional>
  </define>
  <define name="steps-informal.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/section task/steps-informal "/>
    </optional>
  </define>
  <define name="choicetable.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/simpletable task/choicetable "/>
    </optional>
  </define>
  <define name="chhead.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/sthead task/chhead "/>
    </optional>
  </define>
  <define name="chrow.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/strow task/chrow "/>
    </optional>
  </define>
  <define name="choptionhd.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry task/choptionhd "/>
    </optional>
  </define>
  <define name="chdeschd.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry task/chdeschd "/>
    </optional>
  </define>
  <define name="choption.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry task/choption "/>
    </optional>
  </define>
  <define name="chdesc.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="- topic/stentry task/chdesc "/>
    </optional>
  </define>
</grammar>
