example-data/oxygen-frameworks/dita/DITA-OT/plugins/org.dita-ng.doctypes/rng/learning/rng/learningMapdomain.mod.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= 
  MODULE:    DITA Learning Map Domain - RNG              
  VERSION:   1.2                                                
  DATE:      November 2010                                       
  ============================================================= -->
<!--
  Refer to the latest version of this file by the following URI:
  urn:dita-ng:dita:rng:learningMapDomain.mod.rng
  To refer to this specific version, you may use this value:
  urn:dita-ng:dita:rng:learningMapDomain.mod.rng:1.2
-->
<!-- ============================================================= 
  SYSTEM:     Darwin Information Typing Architecture (DITA)     
  PURPOSE:    Define elements and specialization attributes for 
              Learning Map Domain
  ORIGINAL CREATION DATE:  
  September 2010                                                
  (C) Copyright Syncro Soft 2010-2011                                
  All Rights Reserved.                                          
  ============================================================= -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" 
  xmlns="http://relaxng.org/ns/structure/1.0">
  
  <!-- Define the domain values of this module -->
  <define name="domains-atts-value" combine="choice">
    <value>(map learningmap-d)</value>
  </define>
  
  <define name="learningmap-d-topicref">
    <choice>
      <ref name="learningObject.element"/>
      <ref name="learningGroup.element"/>
    </choice>
  </define>  
  <define name="topicref" combine="choice">
    <ref name="learningmap-d-topicref"/>
  </define>
  
  <!-- Define patterns -->
  <define name="learningObject">
    <ref name="learningObject.element"/>
  </define>
  <define name="learningOverviewRef">
    <ref name="learningOverviewRef.element"/>
  </define>
  <define name="learningPlanRef">
    <ref name="learningPlanRef.element"/>
  </define>
  <define name="learningContentRef">
    <ref name="learningContentRef.element"/>
  </define>
  <define name="learningContentComponentRef">
    <ref name="learningContentComponentRef.element"/>
  </define>
  <define name="learningSummaryRef">
    <ref name="learningSummaryRef.element"/>
  </define>
  <define name="learningPreAssessmentRef">
    <ref name="learningPreAssessmentRef.element"/>
  </define>
  <define name="learningPostAssessmentRef">
    <ref name="learningPostAssessmentRef.element"/>
  </define>
  <define name="learningGroup">
    <ref name="learningGroup.element"/>
  </define>

  <!-- Attributes that are common to each topicref specialization in this domain -->
  <define name="learningDomain-topicref-atts-no-chunk">
    <optional>
      <attribute name="navtitle"/>
    </optional>
    <optional>
      <attribute name="href"/>
    </optional>
    <optional>
      <attribute name="keyref"/>
    </optional>
    <optional>
      <attribute name="keys"/>
    </optional>
    <optional>
      <attribute name="query"/>
    </optional>
    <optional>
      <attribute name="copy-to"/>
    </optional>
    <optional>
      <attribute name="outputclass"/>
    </optional>
    <optional>
      <attribute name="scope">
        <choice>
          <value>external</value>
          <value>local</value>
          <value>peer</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="processing-role">
        <choice>
          <value>normal</value>
          <value>resource-only</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="linking">
        <choice>
          <value>targetonly</value>
          <value>sourceonly</value>
          <value>normal</value>
          <value>none</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="locktitle">
        <choice>
          <value>yes</value>
          <value>no</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="toc">
        <choice>
          <value>yes</value>
          <value>no</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="print">
        <choice>
          <value>yes</value>
          <value>no</value>
          <value>printonly</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="search">
        <choice>
          <value>yes</value>
          <value>no</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <ref name="univ-atts"/>
  </define>
  <define name="learningDomain-topicref-atts">
    <ref name="learningDomain-topicref-atts-no-chunk"/>
    <optional>
      <attribute name="chunk"/>
    </optional>
  </define>
  <define name="learningObjectComponent-topicref-atts">
    <ref name="learningDomain-topicref-atts-no-chunk"/>
    <optional>
      <attribute name="chunk" a:defaultValue="to-content"/>
    </optional>
  </define>

  <!-- Define elements content and attributes -->

  <define name="learningGroup.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <optional>
      <ref name="learningPlanRef"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="learningOverviewRef"/>
        <ref name="learningPreAssessmentRef"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="learningObject"/>
        <ref name="learningGroup"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="learningPostAssessmentRef"/>
        <ref name="learningSummaryRef"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="learningGroup.attributes">
    <ref name="learningDomain-topicref-atts"/>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>unordered</value>
          <value>sequence</value>
          <value>family</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="format"/>
    </optional>
  </define>
  <!-- doc:learningGroupintroduces and groups learning objects into higher-level organizations, such as course-level, module-level, or lesson-level. -->
  <define name="learningGroup.element">
    <element name="learningGroup">
      <ref name="learningGroup.attlist"/>
      <ref name="learningGroup.content"/>
    </element>
  </define>
  <define name="learningGroup.attlist" combine="interleave">
    <ref name="learningGroup.attributes"/>
  </define>

  <define name="learningObject.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <optional>
      <ref name="learningPlanRef"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="learningOverviewRef"/>
        <ref name="learningPreAssessmentRef"/>
      </choice>
    </zeroOrMore>
    <oneOrMore>
      <ref name="learningContentRef"/>
    </oneOrMore>
    <zeroOrMore>
      <choice>
        <ref name="learningPostAssessmentRef"/>
        <ref name="learningSummaryRef"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="learningObject.attributes">
    <ref name="learningDomain-topicref-atts"/>
    <optional>
      <attribute name="collection-type">
        <choice>
          <value>choice</value>
          <value>unordered</value>
          <value>sequence</value>
          <value>family</value>
          <value>-dita-use-conref-target</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="format"/>
    </optional>
  </define>
  <!-- doc:learningObject organizes topic references to DITA learning topics as a learning object. -->
  <define name="learningObject.element">
    <element name="learningObject">
      <ref name="learningObject.attlist"/>
      <ref name="learningObject.content"/>
    </element>
  </define>
  <define name="learningObject.attlist" combine="interleave">
    <ref name="learningObject.attributes"/>
  </define>

  <define name="learningPlanRef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
  </define>
  <define name="learningPlanRef.attributes">
    <ref name="learningObjectComponent-topicref-atts"/>
    <optional>
      <attribute name="type" a:defaultValue="learningPlan"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="dita"/>
    </optional>
  </define>
  <!-- doc:Use a learningPlanRef element to include a topic reference to a learning plan topic as part of a learningObject. -->
  <define name="learningPlanRef.element">
    <element name="learningPlanRef">
      <ref name="learningPlanRef.attlist"/>
      <ref name="learningPlanRef.content"/>
    </element>
  </define>
  <define name="learningPlanRef.attlist" combine="interleave">
    <ref name="learningPlanRef.attributes"/>
  </define>

  <define name="learningOverviewRef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
  </define>
  <define name="learningOverviewRef.attributes">
    <ref name="learningObjectComponent-topicref-atts"/>
    <optional>
      <attribute name="type" a:defaultValue="learningOverview"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="dita"/>
    </optional>
  </define>
  <!-- doc:Use a learningOverviewRef element to include a topic reference to a learning overview topic as part of a learningObject. -->
  <define name="learningOverviewRef.element">
    <element name="learningOverviewRef">
      <ref name="learningOverviewRef.attlist"/>
      <ref name="learningOverviewRef.content"/>
    </element>
  </define>
  <define name="learningOverviewRef.attlist" combine="interleave">
    <ref name="learningOverviewRef.attributes"/>
  </define>

  <define name="learningSummaryRef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
  </define>
  <define name="learningSummaryRef.attributes">
    <ref name="learningObjectComponent-topicref-atts"/>
    <optional>
      <attribute name="type" a:defaultValue="learningSummary"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="dita"/>
    </optional>
  </define>
  <!-- doc:Use a learningSummaryRef to include topic reference to a learning summary topic in a DITA learning object. -->
  <define name="learningSummaryRef.element">
    <element name="learningSummaryRef">
      <ref name="learningSummaryRef.attlist"/>
      <ref name="learningSummaryRef.content"/>
    </element>
  </define>
  <define name="learningSummaryRef.attlist" combine="interleave">
    <ref name="learningSummaryRef.attributes"/>
  </define>

  <define name="learningContentRef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <ref name="learningContentComponentRef"/>
    </zeroOrMore>
  </define>
  <define name="learningContentRef.attributes">
    <ref name="learningDomain-topicref-atts-no-chunk"/>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="dita"/>
    </optional>
    <optional>
      <attribute name="chunk" a:defaultValue="to-content"/>
    </optional>
  </define>
  <!-- doc:Use a learningContentRef element to include a topic reference to a learning content topic as part of a DITA learningObject. -->
  <define name="learningContentRef.element">
    <element name="learningContentRef">
      <ref name="learningContentRef.attlist"/>
      <ref name="learningContentRef.content"/>
    </element>
  </define>
  <define name="learningContentRef.attlist" combine="interleave">
    <ref name="learningContentRef.attributes"/>
  </define>

  <define name="learningContentComponentRef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
    <zeroOrMore>
      <ref name="learningContentComponentRef"/>
    </zeroOrMore>
  </define>
  <define name="learningContentComponentRef.attributes">
    <ref name="learningDomain-topicref-atts"/>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="dita"/>
    </optional>
  </define>
  <define name="learningContentComponentRef.element">
    <element name="learningContentComponentRef">
      <ref name="learningContentComponentRef.attlist"/>
      <ref name="learningContentComponentRef.content"/>
    </element>
  </define>
  <define name="learningContentComponentRef.attlist" combine="interleave">
    <ref name="learningContentComponentRef.attributes"/>
  </define>

  <define name="learningPreAssessmentRef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
  </define>
  <define name="learningPreAssessmentRef.attributes">
    <ref name="learningObjectComponent-topicref-atts"/>
    <optional>
      <attribute name="type" a:defaultValue="learningAssessment"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="dita"/>
    </optional>
  </define>
  <!-- doc:Use a learningPreAssessmentRef element to include a topic reference to a learning assessment topic as part of a DITA learningObject. -->
  <define name="learningPreAssessmentRef.element">
    <element name="learningPreAssessmentRef">
      <ref name="learningPreAssessmentRef.attlist"/>
      <ref name="learningPreAssessmentRef.content"/>
    </element>
  </define>
  <define name="learningPreAssessmentRef.attlist" combine="interleave">
    <ref name="learningPreAssessmentRef.attributes"/>
  </define>

  <define name="learningPostAssessmentRef.content">
    <optional>
      <ref name="topicmeta"/>
    </optional>
  </define>
  <define name="learningPostAssessmentRef.attributes">
    <ref name="learningObjectComponent-topicref-atts"/>
    <optional>
      <attribute name="type" a:defaultValue="learningAssessment"/>
    </optional>
    <optional>
      <attribute name="format" a:defaultValue="dita"/>
    </optional>
  </define>
  <!-- doc:Use a learningPostAssessmentRef element to include a topic reference to a learning assessment topic as part of a DITA learningObject. -->
  <define name="learningPostAssessmentRef.element">
    <element name="learningPostAssessmentRef">
      <ref name="learningPostAssessmentRef.attlist"/>
      <ref name="learningPostAssessmentRef.content"/>
    </element>
  </define>
  <define name="learningPostAssessmentRef.attlist" combine="interleave">
    <ref name="learningPostAssessmentRef.attributes"/>
  </define>

  <define name="learningObject.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningObject "/>
    </optional>
  </define>
  <define name="learningGroup.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningGroup "/>
    </optional>
  </define>
  <define name="learningPlanRef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningPlanRef "/>
    </optional>
  </define>
  <define name="learningOverviewRef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningOverviewRef "/>
    </optional>
  </define>
  <define name="learningContentRef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningContentRef "/>
    </optional>
  </define>
  <define name="learningContentComponentRef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningContentComponentRef "/>
    </optional>
  </define>
  <define name="learningSummaryRef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningSummaryRef "/>
    </optional>
  </define>
  <define name="learningPreAssessmentRef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningPreAssessmentRef "/>
    </optional>
  </define>
  <define name="learningPostAssessmentRef.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ map/topicref learningmap-d/learningPostAssessmentRef "/>
    </optional>
  </define>
</grammar>
